fa-icon{
    cursor: pointer;
    color: gray;
    font-size: 24px;

    &.rated{
        color: orange;
    }
    transition: color 0.2s ease-in-out;
}

&.readOnly{
    fa-icon{
        cursor: default;
        &:hover:not(.rated) ~ fa-icon{
            color: gray;
        }
    }
}
.readOnly{
    padding: 0;
}
@media (max-width: 559px){
    fa-icon{
        font-size: 26px;
    }
}