html{
  scroll-behavior: smooth;
}
.content {
  margin: 30px auto 80px auto; /*TOP A BOTTOM ; LEFT A RIGHT*/
  padding: 40px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
.part1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.part1 h1{
  font-weight: bold;
}
.gallery-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
.images{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.images img {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  height: 260px;
}
.thumbnail-gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.thumbnail-gallery img{
  margin: 5px;
  cursor: pointer;
  height: 75px;
}
.arrow-left, .arrow-right{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.arrow-left img, .arrow-right img{
  width: 40px;
  height: 40px;
  transition: scale 0.3s ease;
}
.arrow-left img {
  transform: rotate(180deg);
}
.arrow-left img:hover, .arrow-right img:hover{
  scale: 1.1;
}
.product-information{
  flex: 1;
  padding: 10px 20px;
}
.check{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.check-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.add-to-cart-button button{
  display: flex;
  align-items: center;
  gap: 0;
  background-color: #28a745;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 10px;
}
.add-to-cart-button img{
  transform: rotate(360deg);
  height: 25px;
  width: 25px;
  margin-left: 8px;
}
.add-to-cart-button button:hover {
  background-color: #218838;
}
.available {
  color: green;
  font-weight: bolder;
}
.unavailable {
  color: red;
  font-weight: bolder;
}
.price, .new-price, .reviewsCount, .no-discount-price{
  color: black;
  font-weight: normal;
}
.new-price{
  font-weight: bold;
}
.product-tag{
  border: none;
  border-radius: 10px;
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  width: auto;
  top: -10px;
  left: -10px;
}
.part2 {
  width: 100%;
  margin-top: 20px;
}
.part2 h2{
  font-size: 22px;
  margin-bottom: 15px;
  color: #0d6efd;
  font-weight: bold;
}
.part2 p{
  font-size: 17px;
  color: #333;
  line-height: 1.6;
}
.review-form{
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.review-form input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.char-count {
  font-size: 14px;
  overflow: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}
.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.review, .no-reviews {
  border-radius: 8px;
  padding: 20px;
  margin: 16px 0;
  background: #f9f9f9;
}
.no-reviews p{
  margin: 0;
  font-weight: 400;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.title-part1{
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.star-rating, .review-creator, .review-date{
  margin: 0;
}
.review-creator{
  display: flex;
  align-items: center;
  gap: 8px;
}
.review-date{
  color: #666;
  font-size: 14px;
  margin-top: 2px;
}
.title-part2 {
  display: flex;
  align-items: center;
}
.dropdown {
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px;
  z-index: 9999;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: -3.5px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 15px;
}
.dropdown:hover {
  background-color: #e1e1e1;
}
.dropdown-content a:hover {
  background-color: #e1e1e1;
  border-radius: 15px;
}
.dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.description p{
  margin: 0;
}
.description{
  z-index: 0;
}
fa-icon {
  font-size: 24px;
  padding-bottom: 12px;
  transition: color 0.2s ease-in-out;
}
fa-icon.clicked {
  color: red;
}
fa-icon.not-clicked {
  color: black;
}
.exists {
  color: red;
}
.no-exists {
  color: #6c757d;
}
.form-control.is-invalid {
  border-color: red !important;
}
.form-control.ng-invalid.ng-touched{
  border-color: red;
}
@media (max-width: 1200px) {
  .part1 {
    flex-direction: column;
    align-items: center;
  }
  .content{
    margin: 30px 10px 80px 10px;
  }
  .product-tag{
    left: -5px;
  }
}
@media (max-width: 768px){
  .content{
    padding: 25px;
  }
  .gallery{
    align-items: center;
    gap: 0;
  }
  .check{
    width: 100%;
  }
  .part2{
    padding: 0 10px;
  }
  .field{
    flex-wrap: wrap;
  }
}
@media (max-width: 560px){
  .title-part1 {
    overflow-x: scroll;
  }
  .check{
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
  .check-container{
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
  }
  .product-information h1{
    font-size: 22px;
  }
  .arrow-left img, .arrow-right img{
    margin: 0;
  }
}
@media (max-width: 480px){
  .images img{
    height: 225px;
  }
}