p{
    font-size: 17px;
  }
.part1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 350px;
    margin-left: 350px
}
.part2{
    padding-bottom: 150px;
    margin-right: 350px;
    margin-left: 350px;
    text-align: justify;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}
.product-information{
    height: 200px;
    margin-left: 15px;
}
.add-to-cart-button img{
    margin-bottom: 14px;
}
.available p {
    color: green;
}
.unavailable {
    color: red;
}
.check{
    display: flex;
    justify-content: left;
    gap: 20px;
    align-items: center;
    text-align: center;
}
h2{
    color: #dc3545;
      font-weight: bold;
}
.arrow-left, .arrow-right{
    background: transparent;
    border: none;
}
.arrow-left img{
    transform: rotate(180deg);
} 
.gallery{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.review{
    width: 100%;
    height: auto;
    background-color:#ebebeb;
    border-radius: 10px;
}
.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.title-part1{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.title-part2{
    width: 40%;
    display: flex;
    justify-content: right;
    margin-right: 20px;
}
.title h3, img{
    margin: 10px;
}
.description{
    margin: 20px;
    padding-bottom: 10px;
}
.images img{
    border-bottom: 1px solid #ddd;
}
input{
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.field{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}
.review-form{
    width: 100%;
}
.review{
    width: 100%;
    height: auto;
    background-color:#ebebeb;
    border-radius: 10px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.title h3, img{
    margin: 10px;
}
.description{
    padding-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}
.star-rating{
    margin-top: 20px;
}
.dropdown{
    position: relative;
    display: inline-block;
    border-radius: 15px;
}
.dropdown-content{
    display: none;
    position: absolute;
    transition: transform 0.3s ease;
}   
.dropdown:hover .dropdown-content{
    display: block;
    background-color:#ebebeb;
    border-radius: 15px;
}
.dropdown:hover{
    background-color: #bfbfbf;
}
.dropdown-content a:hover{
    background-color: #bfbfbf;
    border-radius: 15px;
}
.dropdown-content a{
    display: flex;
    align-items: center;
    justify-content: center;
}
app-star-rating{
    margin-bottom: 13px;
}
fa-icon{
    font-size: 24px;
    padding-bottom: 12px;
    transition: color 0.2s ease-in-out;
}
fa-icon.clicked{
    color: red;
}
fa-icon.not-clicked{
    color: black;
}
.exists{
    color: red;
}
.no-exists{
    color: #6c757d;
}
.char-count{
    font-size: 14px;
    overflow: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}
@media (max-width: 1700px) {
    .part1, .part2{
        margin-right: 100px;
        margin-left: 100px;
    }
}
@media (max-width: 1400px){
    .part1{
        flex-direction: column;
    }
}
@media (max-width: 1100px){
    .part1, .part2{
        margin-right: 50px;
        margin-left: 50px;
    }
}
@media (max-width: 800px){
    .product-information h1{
        padding-bottom: 25px;
    }
}
@media (max-width: 650px){
    .part2{
        margin-right: 60px;
        margin-left: 60px;
    }
    .product-information{
        margin-left: 40px;
        margin-right: 40px;
    }
}