<div class="content" *ngIf="productInfo">
  <div class="part1">
    <title>{{productInfo.productName}}</title>
    <div class="gallery">
      <button class="arrow-left"><img src="https://www.freeiconspng.com/thumbs/arrow-icon/arrow-icon-28.png" height="50" width="50" (click)="positionLeft()"></button>
     <div [ngSwitch]="currentImagePosition" class="images">
      <img [src]="productInfo.productImage0" [title]="productInfo.productName" [alt]="productInfo.productName + 1" height="300" *ngSwitchCase="0"/>
      <img [src]="productInfo.productImage1" [title]="productInfo.productName" [alt]="productInfo.productName + 2" *ngSwitchCase="1"/>
      <img [src]="productInfo.productImage2" [title]="productInfo.productName" [alt]="productInfo.productName + 3" *ngSwitchCase="2"/>
    </div>
      <button class="arrow-right"><img src="https://www.freeiconspng.com/thumbs/arrow-icon/arrow-icon-28.png" height="50" width="50" (click)="positionRight()"></button>
    </div>
    <div class="product-information">
      <h1>{{productInfo.productName}}</h1>
      <div [ngClass]="{'available': productInfo.quantity > 0, 'unavailable': productInfo.quantity <= 0}" class="check">
        <p style="color: black; font-weight: bold;">{{ productInfo.price }}€</p>
        <p>{{ productInfo.quantity > 0 ? 'Na sklade' : 'Nie je na sklade' }}</p>
      </div>
      <div class="add-to-cart-button">
        @if(productInfo.quantity > 0){
          <button class="btn btn-success" (click)="addToCart()">Add to cart<img src="https://cdn-icons-png.freepik.com/512/1413/1413908.png" height="25" width="25"></button>
        }
        @else{
          <button class="btn btn-success">Add to cart<img src="https://cdn-icons-png.freepik.com/512/1413/1413908.png" height="25" width="25"></button>
        }
      </div>
    </div>
  </div>
    <div class="part2">
      <h2>Description</h2>
      <p style="padding-bottom: 40px;">{{productInfo.productDescription}}</p>
      <h2>Reviews</h2>
      <div class="review-form">
        <form [formGroup]="reviewForm">
          <div class="field">
            <div class="reviewComment">
              <input type="text" placeholder="Type your review here..."  name="reviewComment" formControlName="reviewComment">
            </div>
            <div class="star-rating-set">
                <app-star-rating [rating]="productRating" (ratingChange)="onRatingChange($event)"></app-star-rating>
            </div>
            <button class="btn btn-success" type="button" (click)="onSubmit()" [disabled]="!reviewForm.valid || productRating === 0 || !authService.authenticated()">Send</button>
          </div>
        </form>
      </div><br>
      <div class="review" *ngFor="let review of reviewsData">
        <div class="title">
          <h3><img src="https://toppng.com/uploads/preview/circled-user-icon-user-pro-icon-11553397069rpnu1bqqup.png" alt="user" height="40" width="40">{{review.reviewCreator}}</h3>
          <div class="star-rating">
            <app-star-rating [rating]="review.starRating" [readOnly]="true"></app-star-rating>
          </div>
        </div>
         <div class="description">
          <p>{{review.reviewComment}}</p>
         </div>
      </div>
    </div>
  </div>
  