<body>
    <!--<div class="ad">
      <span class="adText">50% off with code BESTSHOP until the end of 2024 + <mark style="background-color: #dc3545; color: white;">NEW PRODUCTS ARE AVAILABLE!</mark></span>
    </div>-->
    <div class="info_menu">
        <div class="astroshop-logo">
          <span class="logo"><a class="title"><img src="../assets/favicon-white.ico" height="50" width="50" alt="astroshop-icon"/>Astroshop</a></span>
        </div>
        <div class="social-media">
          <div class="gallery">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="astroshop-instagram" title="astroshop_eu">
            <img src="https://freepnglogo.com/images/all_img/1691832581twitter-x-icon-png.png" alt="astroshop-x" title="astroshopeu">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Facebook_Logo_2023.png/768px-Facebook_Logo_2023.png" alt="astroshop-facebook" title="astroshop">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/023/986/704/small/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png" alt="astroshop-youtube" title="Astroshop EU">
          </div>
        </div>
        <div class="search-bar">
          <input class="search-bar" type="search" placeholder="Search product">
          <button class="btn btn-coupon"><img src="../assets/Images/search_icon.png" title="Click to search"></button>
        </div>
    </div>
<app-main-nav></app-main-nav>
<router-outlet></router-outlet>
<div class="ending" style="color: white;"><br />
    <div class="terms">
      <div class="shop">
        <h2>Shop</h2>
        <a>About us</a>
        <a>Store locations</a>
      </div>
      <div class="brands">
        <h2>Security & Privacy</h2>
        <a>Privacy & Cookies</a>
        <a>Imprint</a>
      </div>
      <div class="get_help">
        <h2>Help</h2>
        <a>FAQs</a>
        <a>Refund Policy</a>
        <a>Shipping Policy</a>
      </div>
      <div class="contact">
        <h2>Contact</h2>
        <a>Contact Form</a>
        <a>+312498057</a>
        <a>+321487581</a>
      </div>
    </div><br /><br />
    <div class="payments_end">
      <div class="first">
        <p style="color: #dc3545; font-weight: bold;">Astroshop® 2024</p>
        <a>Terms & Conditions</a>
        <a>Trademarks & Copyright</a>
      </div>
      <div class="second">
        <h2>Accepted Payment Methods</h2>
        <img src="https://help.zazzle.com/hc/article_attachments/360010513393" alt="Payments" height="60" width="300" />
      </div>
      <div class="third">
        <h2>Shipping & Returns</h2>
        <img src="https://www.flagshipcompany.com/app/uploads/2021/10/FlagShip-Courier-Group-2.png" alt="ShippingAndReturns" height="75" width="280" />
      </div>
    </div><br />
  </div>
</body>