<body>
    <!--<div class="ad">
      <span class="adText">50% off with code BESTSHOP until the end of 2024 + <mark style="background-color: #dc3545; color: white;">NEW PRODUCTS ARE AVAILABLE!</mark></span>
    </div>-->
    <div class="responsive-info-menu">
      <div class="responsive-store-info">
        <span><img src="../assets/Images/white_location_icon.png" height="25" width="25" alt="store-location"><a href="" class="responsive-store-info-text">Store location</a></span>
        <span><img src="../assets/Images/white_phone_icon.png" height="25" width="25" alt="contact-phone"><a href="" class="responsive-store-info-text">+060 (800) 801-582</a></span>
      </div>
    </div>
    <div class="info-menu">
        <div class="astroshop-logo">
          <span class="logo"><img src="../assets/favicon-white.ico" height="50" width="50" alt="astroshop-icon"/><a class="title">Astroshop</a></span>
        </div>
        <div class="store-info">
          <span><img src="../assets/Images/white_location_icon.png" height="25" width="25" alt="store-location"><a href="" class="store-info-text">Store location</a></span>
          <span><img src="../assets/Images/white_phone_icon.png" height="25" width="25" alt="contact-phone"><a href="" class="store-info-text">+060 (800) 801-582</a></span>
        </div>
        <div class="search-bar">
          <input class="search-bar" type="search" placeholder="Search product" [matAutocomplete]="auto" [(ngModel)]="searchText" [formControl]="searchBar">
          <button class="btn btn-coupon" (click)="onSearch()"><img src="../assets/Images/search_icon.png" title="Click to search"></button>
            <mat-autocomplete #auto="matAutocomplete">
              @for (product of filteredProducts | async; track product) {
              <a [routerLink]="['/products', product.productName]" style="text-decoration: none"> <!-- TODO zmenit je to docasne-->
                <mat-option [value]="product">{{product.productName}}</mat-option>
              </a>
              }
            </mat-autocomplete>
        </div>
    </div>
<app-main-nav></app-main-nav>
<router-outlet></router-outlet>
<div class="ending" style="color: white;">
    <div class="terms">
      <div class="shop">
        <h2>About Astroshop</h2>
        <a>About us</a>
        <a>Store locations</a>
      </div>
      <div class="brands">
        <h2>Security & Privacy</h2>
        <a>Privacy & Cookies</a>
        <a>Terms</a>
      </div>
      <div class="get_help">
        <h2>Help</h2>
        <a>Contact Form</a>
        <a>FAQs</a>
      </div>
    </div>
    <div class="payments_end">
      <div class="first">
        <h2 class="company-title">Astroshop® 2024</h2>
        <a>Terms & Conditions</a>
        <a>Trademarks & Copyright</a>
      </div>
      <div class="second">
        <h2>Accepted Payment Methods</h2>
        <img src="https://help.zazzle.com/hc/article_attachments/360010513393" alt="Payments" height="60" width="300" />
      </div>
      <div class="third">
        <h2>Find us also on</h2>
        <div class="gallery">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="instagram_icon">
          <img src="https://freepnglogo.com/images/all_img/facebook-circle-logo-png.png" alt="facebook_icon">
          <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/x-social-media-logo-icon.png" alt="x_icon">
        </div>
      </div>
    </div>
  </div>
</body>