.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 300px;
    z-index: 9999;
}
.form{
    width: 35%;
}
.field label, p{
    margin-left: 10px;
    margin-top: 10px;
}
.field input[type="text"], input[type="email"], input[type="number"], select{
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
input[type="radio"]{
    width: 10%;
    padding: 10px;
}
input[type="radio"] img{
    margin: 0;
}
.orderForm{
    width: 100%;
}
.orderForm span{
    margin-left: 10px;
}
.field-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.field-orderForm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.field-orderForm label{
    padding: 10px;
}
.field-orderForm p{
    width: 50%;
    text-align: center;
}
.delivery-option{
    display: flex;
    align-items: center;
}
.delivery-option label{
    display: flex;
    align-items: center;
}
h2{
    font-weight: bold;
    color: #dc3545;
}
@media (max-width: 1580px ) {
    .form{
        width: 50%;
    }
}
@media (max-width: 970px) {
    .form{
        width: 70%;
    }
}