<title>Your favorite products</title>
<div class="content">
    <div class="container" [ngClass]="{'isLoading': isLoading}">
        <div class="title">
            <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon">
            <h1>Your favorite products</h1>
        </div>
        @if(isLoading){
            <div class="spinner-container">
                <div class="spinner">
                </div>
                Loading
            </div>
        }
        @else{
            @if(sortedFavoriteProducts.length > 0){
                <div class="favorite-products">
                    <ng-container *ngFor="let favoriteProduct of sortedFavoriteProducts">
                        <div class="favorite-product">
                            <a class="remove-fav-product" (click)="removeFavoriteProduct(user.id, favoriteProduct.productId)">
                                <img src="../../assets/Images/remove-icon.png" alt="Remove Favorite" width="20" height="20">
                            </a>
                          <div class="name-image">
                            <img [src]="favoriteProduct.productImage0" height="250" [alt]="favoriteProduct.productImage0" class="product-image"  [routerLink]="['/products', favoriteProduct.productName]">          
                            <a [routerLink]="['/products', favoriteProduct.productName]" class="link">{{favoriteProduct.productName}}</a>
                          </div>  
                        </div>
                    </ng-container>
                    <div class="paginator">
                        <app-pagination [currentPage]="currentPage" [limit]="limit" [total]="totalItems" (changePage)="onPageChange($event)"></app-pagination>
                    </div>
                </div>
            }
            @else{
                <div class="no-fproducts">
                    <h2>You don't have any favorite products</h2> 
                </div>
            }
        }
    </div>
</div>
