.content {
  width: 100%;
  padding: 120px 0 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://t4.ftcdn.net/jpg/04/94/85/25/360_F_494852538_r8ylVApdAY0YuWYCkWIsg5pDZkboERYI.jpg);
  background-position: center;
  background-size: cover;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
}
.isLoading{
  width: 40%;
}
.favorite-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.title {
  width: 100%;
  text-align: center;
}
.title img{
  height: 50px;
  width: 50px;
}
.favorite-product {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  border: 2px solid #f4f4f4;
  text-align: left;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  position: relative;
}
.product-tag{
  border: none;
  border-radius: 10px;
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  width: auto;
  top: -10px;
  left: -10px;
}
.favorite-product a{
  color: black;
  text-decoration: none;
}
.favorite-product a:hover{
  text-decoration: underline;
}
.favorite-product img:hover{
  cursor: pointer;
}
.link {
  padding: 20px;
  margin: 0;
}
h1 {
  font-weight: bold;
}
.favorite-product:hover {
  transform: translateY(-5px);
}
.name-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.no-fproducts {
  padding: 20px;
  text-align: center;
}
.remove-fav-product {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  border: solid black 1px;
  margin: 0 0 0 30px;
  border-radius: 5px;
  padding: 5px;
}
.product-image{
  padding: 20px;
}
@media (max-width: 1100px) {
  .container {
    max-width: 80%;
  }
  .isLoading{
    width: 45%;
  }
  .favorite-products, .spinner-container{
    font-size: 16.5px;
  }
}
@media (max-width: 820px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }
  .isLoading{
    width: 50%;
  }
  .spinner-container{
    height: 125px;
  }
  .product-image {
    padding: 20px;
    width: 225px;
    height: auto;
  }
  .link {
    padding: 10px;
    font-size: 0.9rem;
  }
  .spinner-container{
    font-size: 0.9rem;
  }
  .remove-fav-product{
    margin: 0 0 0 15px;
  }
  h1 {
    font-size: 1.2rem;
    margin: 0 0 12.5px 0;
  }
}
@media (max-width: 768px){
  .content {
    padding: 90px 0px 160px 0px;
  }
}
@media (max-width: 580px) {
  .name-image {
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
  }
  .remove-fav-product{
    order: 1;
    margin: 0 20px 0 0;
  }
  .name-image{
    order: -1;
  }
  .isLoading{
    width: 70%;
  }
  h1 {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 50px 0px 110px 0px;
  }
}
