<title>Vaše obľúbené produkty</title>
<div class="content">
    <div class="container" [ngClass]="{'isLoading': isLoading}">
        <div class="title">
            <img src="../../assets/favicon.ico" alt="astroshop-icon">
            <h1>Vaše obľúbené produkty</h1>
        </div>
        @if(isLoading){
            <div class="spinner-container">
                <div class="spinner">
                </div>
                Načítavanie...
            </div>
        }
        @else{
            @if(sortedFavoriteProducts.length > 0){
                <div class="favorite-products">
                    <ng-container *ngFor="let favoriteProduct of sortedFavoriteProducts">
                        <div class="favorite-product">
                            @if(favoriteProduct.productDiscount > 0){
                                <div class="product-tag">
                                  zľava -{{favoriteProduct.productDiscount}}%
                                </div>
                            }
                            @else{
                                <div class="product-tag-hidden"></div>
                            }
                            <a class="remove-fav-product" (click)="removeFavoriteProduct(user.id, favoriteProduct.productId)">
                                <img src="../../assets/Images/remove-icon.png" alt="Remove Favorite" width="20px" height="20px">
                            </a>
                          <div class="name-image">
                            <img [src]="favoriteProduct.productImage0" height="250" [alt]="favoriteProduct.productImage0" class="product-image"  [routerLink]="['/products', favoriteProduct.productName]">          
                            <a [routerLink]="['/products', favoriteProduct.productName]" class="link">{{favoriteProduct.productName}}</a>
                          </div>  
                        </div>
                    </ng-container>
                    <div class="paginator">
                        <app-pagination [currentPage]="currentPage" [limit]="limit" [total]="totalItems" (changePage)="onPageChange($event)"></app-pagination>
                    </div>
                </div>
            }
            @else{
                <div class="no-fproducts">
                    <p>Nemáte žiadne obľúbené produkty!</p> 
                </div>
            }
        }
    </div>
</div>
