.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 300px;
}
.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}