.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 300px;  
}
.product{
    background-color: white;
    border: 1px solid #ddd;
    width: 60vw;
    margin: 20px;
    border-radius: 10px;
    height: auto;
    display: grid;
    grid-template-columns: 250px 1fr 100px; /*350px prva column, 1fr druha*/
    gap: 0px;
    transition: transform 0.3s ease;
}
.product:hover{
    transform: translateY(-5px);
}
.part1, .part2, .part3{
    padding: 10px;
    width: 80%;
}
.part2, .part3{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
input[type="radio"]{
    margin: 10px;
}
h2{
    font-weight: bold;
    text-align: center;
    color: #dc3545;
}
input{
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.coupon-field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.selectedProducts{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.selectedProducts th{
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
}
.selectedProducts td{
    padding: 8px;
}
.selectedProducts img{
    max-width: 100%;
    height: auto;
}
.order-summary{
    background-color: #f4f4f4;
    width: 100%;
    margin-top: 10px;
}
.order-summary p{
    padding: 2px;
}
.payment-option, .order-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.total-price{
    margin: 10px;
}
.total-price p{
    margin: 0;
}
.submit{
    margin-top: 20px;
}
