<title>Sumarizácia objednávky</title>
@if(!orderCompleted){
    <div class="content">
      <div class="container">
        <div class="part1">
          <div class="selected-products">
            <div class="sub-title">
              <h2>Vaše zvolené produkty</h2>
            </div>
            <table class="selectedProducts">
              <tr *ngFor="let product of selectedProducts" class="product">
                @if(product.productDiscount > 0){
                  <div class="product-tag">
                    zľava -{{product.productDiscount}}%
                  </div>
                }
                @else{
                  <div class="product-tag-hidden"></div>
                }
                <td class="product-image-cell"><img [src]="product.productImage0" [alt]="product.productName" [title]="product.productName" width="190" class="product-image"></td>
                <td class="product-name" style="padding: 0">{{product.productName}}<br>
                  @if(product.quantity > 0){
                    <span class="available">Na sklade</span>
                  }
                </td>
                <td>{{product.amount}}x</td>
                <td>
                  <div class="price-container">
                    <div class="product-prices">
                      @if(product.productDiscount > 0){
                        <p class="price"><del>{{ product.price }}€</del></p>
                        <p class="new-price">{{ (product.price - ((product.price / 100)) * product.productDiscount).toFixed(2) }}€</p>
                      }@else{
                        <p class="no-discount-price">{{ product.price }}€</p>
                      }
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="order-info">
            <div class="delivery-payment-data-container">
              <div class="table-container">
                <table class="order-table">
                  <tr>
                    <th colspan="2">Informácie objednávky</th>
                  </tr>
                  <tr>
                    <td><b>Meno a priezvisko:</b></td>
                    <td>{{OrderService.order?.name}} {{OrderService.order?.surname}}</td>
                  </tr>
                  <tr>
                    <td><b>E-mailová adresa:</b></td>
                    <td>{{OrderService.order?.email}}</td>
                  </tr>
                  <tr>
                    <td><b>Adresa:</b></td>
                    <td>{{OrderService.order?.address}}</td>
                  </tr>
                  <tr>
                    <td><b>PSČ:</b></td>
                    <td>{{OrderService.order?.postalCode}}</td>
                  </tr>
                  <tr>
                    <td><b>Telefónne číslo:</b></td>
                    <td>{{OrderService.order?.phoneNumber}}</td>
                  </tr>
                  <tr>
                    <td><b>Mesto:</b></td>
                    <td>{{OrderService.order?.city}}</td>
                  </tr>
                  <tr>
                    <td><b>Štát:</b></td>
                    <td>{{OrderService.order?.country}}</td>
                  </tr>
                  <tr>
                    <td><b>Spôsob dopravy:</b></td>
                    <td>{{OrderService.order?.deliveryOption}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="payment-form">
              <div class="sub-title">
                <h2>Spôsob platby</h2>
              </div>
              <form [formGroup]="paymentForm">
                <div class="field">
                  <input type="radio" id="p1" name="paymentMethod" value="Platba hotovosťou" formControlName="paymentMethod" (change)="onRadioChange($event)" class="form-check-input" [ngClass]="{'is-invalid': paymentForm.get('paymentMethod').invalid && paymentForm.get('paymentMethod').touched}">
                  <label for="p1"><img src="https://cdn-icons-png.flaticon.com/512/6491/6491490.png" alt="paymentOnDelivery">Platna hotovosťou pri prevzatí</label><br>
                </div>
                <div class="field">
                  <input type="radio" id="p2" name="paymentMethod" value="Platba bankovým prevodom" formControlName="paymentMethod" (change)="onRadioChange($event)" class="form-check-input" [ngClass]="{'is-invalid': paymentForm.get('paymentMethod').invalid && paymentForm.get('paymentMethod').touched}">
                  <label for="p2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzJFEBgcViSG5jF0lIrNdPrWgJbg7OyxrXNKKvGDK1OJO9xQt1pcnNs61wXaCBDSkUOeE&usqp=CAU" alt="cardPaymentUponCollection">Bankovým prevodom na číslo účtu</label><br>
                </div>
                <div class="field">
                  <input type="radio" id="p3" name="paymentMethod" value="Platba kartou" formControlName="paymentMethod" (change)="onRadioChange($event)" class="form-check-input" [ngClass]="{'is-invalid': paymentForm.get('paymentMethod').invalid && paymentForm.get('paymentMethod').touched}">
                  <label for="p3"><img src="https://www.freeiconspng.com/thumbs/credit-card-icon-png/credit-card-black-png-0.png" alt="cardPayment">Platba kartou u nás na webe</label><br>
                </div>
              </form>
            </div>
          </div>
          <div class="order-summary">
            <div class="coupon">
              <form [formGroup]="paymentForm">
                <div class="coupon-field">
                    <div class="field">
                        <input type="text" id="coupon" class="form-control" name="coupon" placeholder="Sem zadajte váš kupón" formControlName="coupon" [ngClass]="{'is-invalid': paymentForm.get('coupon').invalid}">
                        <button class="btn coupon" (click)="applyCoupon()" type="button" [disabled]="appliedCoupon">{{couponButtonText}}</button>
                    </div>
                </div>
            </form>
            </div>
            <div class="total-price">
              <p>Celková cena</p>
              @if(!appliedCoupon){
                <p>{{CartService.totalPrice()}}€</p>
              }
              @else{
                <p>{{(CartService.totalPrice() / 2).toFixed(2)}}€</p>
              }
            </div>
          </div>
          <div class="re-captcha-container">
            <re-captcha class="re-captcha" (resolved)="resolved($event)" siteKey="6Lf2McAqAAAAABgfm-2i732qCGpO4z3QPwhv10ZZ"></re-captcha>
            <div class="submit">
              <button class="btn btn-secondary" (click)="onSubmit()" type="button">Dokončiť objednávku</button>
            </div>
          </div>
        </div>
      </div>
    </div>
}
@else{
  <div class="content">
    <div class="order-finished">
      @if(isLoading){
        <div class="spinner-container">
          <div class="spinner">
          </div>
          Načítavanie...
        </div>
      }@else{
        <div class="title">
          <img src="../../assets/favicon.ico" alt="astroshop-icon" title="astroshop-icon">
          <h1>Ďakujeme za Vašu objednávku!</h1>
        </div>
        <p>Vaša objednávka s číslom {{orderId}} je spracovávaná a čoskoro Vám bude odoslaná!</p>
        <button class="btn btn-secondary" [routerLink]="['/home']">Vrátiť sa domov</button>
      }
    </div>
  </div>
}
