.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 180px 0;
  background-image: url(https://t4.ftcdn.net/jpg/04/94/85/25/360_F_494852538_r8ylVApdAY0YuWYCkWIsg5pDZkboERYI.jpg);
  background-position: center;
  background-size: cover;
}
.container {
  width: 75%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.title h1 {
  font-weight: bold;
  margin: 0;
}
.title img {
  height: 50px;
  width: 50px;
}
.sub-title h2 {
  text-align: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.delivery-payment-data-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.delivery-data {
  display: flex;
  flex-direction: column;
  flex: 1.25;
}
.payment-form{
  flex: 1;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.payment-form img{
  height: 35px;
  width: 35px;
}
.delivery-data h2,
.payment-form h2 {
  text-align: left;
}
.delivery-data address {
  margin: 0;
}
.product-name {
  font-weight: bold;
}
.available {
  color: green;
  font-weight: bold !important;
}
.price,
.new-price,
.no-discount-price {
  color: black;
  font-weight: normal;
}
.new-price {
  font-weight: bold;
}
.no-discount-price {
  margin: auto 0;
}
.product-prices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.order-summary {
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
}
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.total-price p:first-child {
  font-weight: bold;
}
.total-price p {
  margin: 0;
}
.selectedProducts {
  width: 100%;
  border-collapse: collapse;
}
.selectedProducts td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
.selectedProducts .product-image-cell {
  width: 20%;
}
.selectedProducts .product-image {
  width: 225px;
  height: 225px;
}
.product {
  position: relative;
}
.product-tag {
  border: none;
  border-radius: 10px;
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  width: auto;
  top: -10px;
  left: -10px;
}
.table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 35px;
  margin: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.part1 {
  width: 100%;
}
input[type="radio"]{
  margin: 0 10px 0 0;
}
h2 {
  font-weight: bold;
  text-align: center;
  color: #0d6efd;
}
input[type="text"] {
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.coupon-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.coupon button{
  padding: 10px 18px;
  border-radius: 10px;
}
.order-summary {
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
.payment-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.field{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.coupon{
  margin: 10px 10px 10px 0px;
}
.total-price{
  margin: 10px 0px 10px 10px;
}
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.total-price p {
  margin: 0;
  width: 100%;
}
.total-price p:nth-child(even) {
  text-align: right;
}
.submit {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-finished {
  background-color: white;
  border-radius: 10px;
  padding: 25px 40px 25px 40px;
  margin: 50px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}
.order-finished p{
  margin: 15px 0 20px 0;
  font-size: 17.5px;
}
.re-captcha-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.re-captcha{
  margin-top: 15px;
}
.spinner-container{
  height: 156px;
  width: 250px;
}
.form-check-input.is-invalid, .is-invalid {
  border-color: red !important;
}
.form-check-input.ng-invalid.ng-touched{
  border-color: red;
}
@media (max-width: 1250px) { 
  .selectedProducts .product-image {
    width: 200px;
    height: 200px;
  }
  .container {
    width: 90%;
  }
  .content{
    padding: 80px 0 170px 0;
  }
}
@media (max-width: 900px){
  .selectedProducts .product-image{
    width: 175px;
    height: 175px;
  }
  .content{
    padding: 80px 0 160px 0;
  }
  .delivery-data h2,
  .payment-form h2 {
    text-align: left;
    width: 100%;
  }
}
@media (max-width: 750px) {
  .product {
    width: 100%;
  }
  .content {
    padding: 60px 0 130px 0;
  }
  .container {
    width: 95%;
  }
  .order-finished p{
    font-size: 16px;
  }
}
@media (max-width: 670px) {
  .selectedProducts .product-image-cell{
    display: none;
  }
  .product-tag, .product-tag-hidden{
    display: none;
  }
  .total-price{
    gap: 15px;
  }
  .re-captcha-container{
    flex-direction: column;
  }
  .content{
    padding: 60px 0 115px 0;
  }
}
@media (max-width: 600px) {
  .table{
    flex-direction: column;
  }
  .co-1, .co-2{
    text-align: left;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .content {
    padding: 60px 0 130px 0;
  }
  .field {
    align-items: center;
  }
  input[type="text"] {
    width: 100%;
  }
  .coupon{
    margin: 10px 0px 10px 0px;
    width: 100%;
  }
  .coupon button{
    margin: 0;
    width: 30%;
  }
  .coupon-field {
    width: 100%;
    gap: 10px;
  }
  .field{
    width: 100%;
    align-items: center;
  }
  .order-summary {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .total-price {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
  .total-price p:nth-child(even) {
    text-align: right;
  }
}
