<title>Order summary</title>
<div class="content">
    <img src="../../favicon.ico" height="50" width="50" alt="astroshop-icon">
    <h1 style="font-weight: bold; font-size: 30px;">Order summary</h1><br>
    <div class="part1">
        <div class="order-info">
            <address>
            <ng-container *ngFor="let info of order">
                <b>Name: </b>{{info.name}}<br>
                <b>Surname: </b>{{info.surname}}<br>
                <b>E-mail: </b>{{info.email}}<br>
                <b>Address: </b>{{info.address}}<br>
                <b>Postal code: </b>{{info.psc}}<br>
                <b>Phone number: </b>{{info.phoneNumber}}<br>
                <b>City: </b>{{info.city}}<br>
                <b>Country: </b>{{info.country}}<br>
                <b>Delivery option: </b>{{info.deliveryOption}}
            </ng-container>
            </address>
        </div>
        <div class="payment-option">
            <form>

            </form>
        </div>
    </div>
    <div class="part2">
        <div class="selected-products">
            <ng-container *ngFor="let product of selectedProducts">
                <p>{{product.productName}}</p>
                <img [src]="product.productImage0">
            </ng-container>
        </div>
        <div class="totalPrice">

        </div>
    </div>
</div>