.page-item.active .page-link{
    background-color: #0d6efd;
    color: white;
    border: none;
}
.page-link{
    color:  black;
    padding: 10px 20px;
}
.pagination{
    background-color: white;
}
.arrow-left img{
    transform: rotate(180deg);
}
.arrow-left, .arrow-right{
    padding: 9px;
}
.page-link:hover{
    cursor: pointer;
}
.arrow-left:hover, .arrow-right:hover{
    cursor: pointer;
}
@media (max-width: 580px) {
    .page-link{
        padding: 6px 15px;
    }
    .arrow-left, .arrow-right{
        padding: 4.5px;
    }
    img{
        height: 17px;
        width: 17px;
    }
}