<title>Login</title>
<div class="content">
@if (authService.authenticated()) {
  <h1>You're currently logged in.</h1>
} @else {
  <div class="login-form">
  <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label class="form-label">E-mail*</label><br>
      <input type="email" class="form-control" formControlName="email" required placeholder="Your e-mail address">
    </div>
    <div class="field">
      <label class="form-label">Password*</label><br>
      <input [type]="'password'" formControlName="password" placeholder="Your password">
    </div>
    <div class="field" style="text-align: center;">
      <label class="no-acc-label">Don't have an account? Register <a [routerLink]="['/register']">here</a></label>
    </div>
    <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
  </form>
</div>
}
</div>
