.content{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.product-header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  padding: 5px 0 0 0;
}
.product-header h1{
  margin: 0;
  flex-grow: 1;
}
.toggle-sidebar {
  margin: 10px 0;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: none;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.sidebar-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
.close-btn{
  display: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.sidebar-heading img{
  transform: rotate(180deg);
  filter: brightness(0%);
}
.sidebar {
  width: 330px;
  background-color: #f4f4f4;
  padding: 25px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebar h1, .category-list > li:first-child, .main-content h1{ /*tato sipka > vyberie len prvy child*/
  font-weight: bold;
}
.category-list > li:first-child {
  font-size: 20px;
}
.active {
  display: flex;
}
.category-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-list li{
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.category-list li img{
  filter: grayscale();
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
}
.category-list li:hover {
  background-color: #ddd;
}
.active-category{
  background-color: #ddd;
}
.first-li{
  cursor: pointer;
  margin-bottom: 15px;
}
.main-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main-content h1{
  text-align: center;
}
.sidebar h1, .main-content h1{
  font-size: 27px;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filters input {
  padding: 8px;
  flex: 1;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.filters select{
  padding: 8px;
  flex-basis: 200px;
  border-radius: 10px;
  border: 1px solid black;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  text-align: left;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
}
.product-prices{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.product-card h3{
  font-size: 0.18in;
  font-weight: bold;
}
.product-card:hover{
  transform: translateY(-5px);
}
.image-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image{
  max-width: 100%;
  height: 210px;
  object-fit: cover;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #ddd;
}
.price, .new-price, .no-discount-price{
  color: black;
  font-weight: normal;
}
.new-price{
  font-weight: bold;
}
.star-rating, .price-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-quantity{
  overflow: visible;
}
.star-rating {
  margin: 0 5px 0 0;
}
.reviews-count{
  margin-top: 15px;
}
.available {
  color: green;
  font-weight: bolder;
}
.unavailable {
  color: red;
  font-weight: bolder;
}
.product-tag{
  border: none;
  border-radius: 10px;
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  width: auto;
  top: -10px;
  left:-10px;
}
.paginator{
  margin: 20px 0 0 0;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.no-products{
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 0 0 100px 0;
}
.no-products img{
  height: 35px;
  width: 35px;
  filter: grayscale(100%);
  margin: 0 0 5px 5px;
}
@media (max-width: 950px){
  .content{
    flex-direction: column;
  }
  .sidebar{
    width: 280px;
    position: absolute;
    top: 145px;
    left: -250px;
    z-index: 999;
    visibility: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 0px;
    transition: left 0.5s ease, visibility 0s 0.5s;
    display: block;
  }
  .product-header{
    padding: 10.5px 0 0 0;
  }
  .active{
    left: 0;
    visibility: visible;
    transition: left 0.5s ease;
  }
  .close-btn{
    display: block;
  }
  .toggle-sidebar{
    display: block;
  }
}
@media (max-width: 850px) {
  .sidebar{
    top: 170px;
  }
  .product-header{
    padding: 12.5px 0 0 0;
  }
}
@media (max-width: 559px){
  .product-image {
    height: 270px;
  }
  .filters{
    flex-direction: column;
  }
  .filters input{
    margin: 0;
  }
  .filters select{
    flex-basis: 0px;
    height: 50px;
  }
}