.content{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.product-header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
.product-header h1{
  margin: 0;
  flex-grow: 1;
}
.toggle-sidebar {
  margin: 10px 0;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: none;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.sidebar-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
.close-btn{
  display: none;
}
.sidebar-heading img{
  transform: rotate(180deg);
  filter: brightness(0%);
}
.sidebar {
  width: 350px;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
.sidebar h1, .price, .category-list > li:first-child, .main-content h1{ /*tato sipka > vyberie len prvy child*/
  font-weight: bold;
}
.active {
  display: flex;
}
.category-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.category-list li{
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.category-list li img{
  filter: grayscale();
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
}
.category-list li:hover {
  background-color: #ddd;
}
.active-category{
  background-color: #ddd;
}
.first-li{
  cursor: pointer;
  margin-bottom: 15px;
}
.main-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main-content h1{
  text-align: center;
}
.sidebar h1, .main-content h1{
  font-size: 27px;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filters input {
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  border-radius: 10px;
}
.filters select{
  padding: 10px;
  flex-basis: 200px;
  border-radius: 10px;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.product-card h3{
  font-size: 17px;
}
.product-card:hover{
  transform: translateY(-5px);
}
.image-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image{
  max-width: 100%;
  height: 210px;
  object-fit: cover;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #ddd;
}
.price{
  color: black;
}
.star-rating, .price-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-count{
  margin-top: 15px;
}
.available {
  color: green;
}
.unavailable {
  color: red;
}
@media (max-width: 950px){
  .content{
    flex-direction: column;
  }
  .sidebar{
    width: 280px;
    position: absolute;
    top: 145px;
    left: -250px;
    height: 100%;
    z-index: 100;
    display: none;
    transition: 'left' 0.3s ease;
  }
  .active{
    left: 0;
    display: flex;
  }
  .close-btn{
    display: block;
  }
  .toggle-sidebar{
    display: block;
  }
}
@media (max-width: 850px) {
  .sidebar{
    top: 170px;
  }
}
@media (max-width: 530px){
  .product-image {
    height: 270px;
  }
  .filters{
    flex-direction: column;
  }
  .filters input{
    margin: 0;
  }
  .filters select{
    flex-basis: 0px;
    height: 50px;
  }
}