<title>Products</title>
<div class="content">
  <div class="sidebar" [ngClass]="{'active': isActive}">
    <div class="sidebar-heading">
      <h1 class="sidebar-h1">Categories</h1>
      <a (click)="toggleSidebar()" class="close-btn"><span><img src="https://www.freeiconspng.com/thumbs/arrow-icon/arrow-icon--myiconfinder-23.png" height="35" width="35" alt="menu-icon"></span></a>
    </div>
    <ul class="category-list">
      <li (click)="showAllProducts()"> All products</li>
      <li (click)="filterProducts('TELE')" [ngClass]="{'active-category': selectedCategory === 'TELE'}"><img src="https://cdn-icons-png.flaticon.com/512/2991/2991509.png" alt="telescope" /> Telescopes</li>
      <li (click)="filterProducts('MONT')" [ngClass]="{'active-category': selectedCategory === 'MONT'}"><img src="https://cdn-icons-png.flaticon.com/512/3814/3814739.png" alt="mount" /> Mounts</li>
      <li (click)="filterProducts('BINO')" [ngClass]="{'active-category': selectedCategory === 'BINO'}"><img src="https://cdn-icons-png.freepik.com/512/69/69125.png" alt="binocular" /> Binoculars</li>
      <li><img src="https://cdn-icons-png.flaticon.com/512/467/467619.png" alt="solar-observation" /> Solar observation</li>
      <li><img src="https://cdn1.iconfinder.com/data/icons/100-pirate-set/40/64-512.png" alt="eyepiece" /> Eyepieces</li>
      <li><img src="https://cdn-icons-png.flaticon.com/512/164/164334.png" alt="filters" /> Filters</li>
      <li><img src="https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-21.png" alt="astrophotography" /> Astrophotography</li>
      <li><img src="https://cdn-icons-png.flaticon.com/512/2120/2120445.png" alt="observatories" /> Observatories</li>
      <li><img src="https://www.freeiconspng.com/thumbs/plus-icon/plus-icon-black-2.png" alt="telescope-accessories" /> Telescope accessories</li>
      <li><img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" alt="media" /> Media</li>
      <li><img src="https://cdn-icons-png.flaticon.com/512/44/44386.png" alt="nature-observation" /> Nature observation</li>
    </ul>
  </div>
  <div class="main-content">
    <div class="product-header">
      <h1>Products</h1>
      <button class="toggle-sidebar" (click)="toggleSidebar()">☰ <span>Categories</span></button>
    </div>
    <div class="filters">
      <input class="search-bar form-control" [(ngModel)]="searchText" type="search" placeholder="Click here to search your products" (ngModelChange)="filtersProducts()">
      <select class="form-control" [(ngModel)]="selectedSortOption" (change)="onSortChange($event)"> <!--#sortSelect je Angular template reference variable-->
        <option disabled selected value="">Not selected</option>
        <option value="all">All products</option>
        <option value="top">By top rated</option>
        <option value="mostExpensive">From the most expensive</option>
        <option value="leastExpensive">From the least expensive</option>
        <option value="isAvailable">Are available</option>
      </select>
    </div>
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Loading...
      </div>
    }
    @else{
      @if((ourFilteredProducts | search: searchText).length > 0){
      <div class="gallery">
        <div *ngFor="let product of ourFilteredProducts" class="product-card">
          <a [routerLink]="['/products', product.productName]" class="link">
            @if(product.productDiscount > 0){
              <div class="product-tag">
                -{{product.productDiscount}}% off
              </div>
            }
            <div class="image-container">
              <img [src]="product.productImage0" alt="{{ product.productName }}" class="product-image" />
            </div>
            <h3>{{ product.productName }}</h3>
            <div class="star-rating">
              <app-star-rating [rating]="product.averageStarRating" [readOnly]="true"></app-star-rating>
              <p class="reviews-count">({{product.reviewsCount}})</p>
            </div>
            <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="price-quantity">
              <div class="product-prices">
                @if(product.productDiscount > 0){
                  <p class="price"><del>{{ product.price }}€</del></p>
                  <p class="new-price">{{ (product.price - ((product.price / 100)) * product.productDiscount).toFixed(0) }}€</p>
                }@else{
                  <p class="no-discount-price">{{ product.price }}€</p>
                }
              </div>
              <p style="text-wrap: nowrap; margin-left: 5px;">{{ product.quantity > 0 ? 'Na sklade' : 'Vypredané' }}</p>
            </div>
          </a>
        </div>
      </div>
      }
      @else{
        <div class="no-products">
          <p>No items with specified name were found!</p>
        </div>
      }
    <div class="paginator">
      <app-pagination [currentPage]="currentPage" [limit]="limit" [total]="totalItems" (changePage)="onPageChange($event)"></app-pagination>
    </div>
  }
  </div>
</div>