.content {
  display: grid;
  grid-template-columns: 350px 1fr; /*350px prva column, 1fr druha*/
  gap: 0px;
}
.left-panel {
  background-color: #f4f4f4;
  width: 110%;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}
.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.active-category {
  background-color: #ddd;
}
.category-list li:first-child{
  font-weight: bold;
  font-size: 20px;
}
.category-list li {
  margin: 10px;
  display: flex;
  align-items: center;
}
.category-list li {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.category-list li:hover {
  background-color: #ddd;
  cursor: pointer;
}
.category-list img{
  height: 30px;
  width: 30px;
  margin: 5px;
  filter: grayscale();
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.telescope_1 {
  border: 1px solid #ddd;
  padding: 15px;
  transition: transform 0.3s ease;
  width: 250px;
  height: 410px;
  border-radius: 10px;
  text-align: left;
}
.telescope_1:hover {
  transform: translateY(-5px);
}
.telescope_1 img {
  max-width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
}
.telescope_1 p {
  margin: 10px 0;
}
.product-side h1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 0 0 10px 0;
}
.products {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery {
  width: 70vw;
  padding-bottom: 50px;
}
.search-triedicka {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}
.search-bar {
  padding: 6px 40px;
  border-radius: 10px;
}
.search {
  margin-right: 20px;
}
.select {
  margin-right: 20px;
}
.sort {
  margin-left: 20px;
  padding: 6px 30px;
  border-radius: 10px;
}
.sort option {
  padding: 6px 30px;
}
.available {
  color: green;
}
.unavailable {
  color: red;
}
.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.2rem;
}
.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-heading h1{
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}
.panel-heading a{
  display: none;
}
.panel-heading a:hover{
  cursor: pointer;
}
.panel-heading img{
  transform: rotate(180deg);
}
.star-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.names {
  margin: 0 0.2rem;
}
.paginator {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}
p {
  font-size: 17px;
}
.product-heading{
  width: 100%;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 9998;
  position: absolute;
  top: 170px;
  left: 5px;
}
.menu-icon{
  display: none;
  margin: 0 0 25px 0;
}
.menu-icon img, .panel-heading img{
  filter: brightness(0%);
}
.menu-icon a:hover{
  cursor: pointer;
}
@media screen and (max-width: 1250px) {
  .content{
    padding: 0 80px 0 80px;
    overflow: hidden;
  }
  .left-panel {
    opacity: 0;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: width 0.5s, opacity 0.2s;
    margin: 142px 0 0 0;
  }
  .active{
    width: 300px;
    opacity: 1;
  }
  .content {
    display: grid;
    grid-template-columns: auto;
  }
  .gallery{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .search-triedicka {
    justify-content: center;
    flex-direction: row;
  }
  .search {
    margin: 0;
  }
  .menu-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .panel-heading a{
    display: block;
  }
}
@media (max-width: 850px) {
  .left-panel{
    margin: 170px 0 0 0;
  }
  .container{
    top: 195px
  }
}
@media (max-width: 830px) {
  .gallery{
    grid-template-columns: auto auto;
  }
  .telescope_1 {
    height: 390px;
    width: 235px;
  }
  .telescope_1 p {
    font-size: 16px;
  }
  .telescope_1 img {
    height: 200px;
  }
  .search-triedicka{
    flex-direction: column;
  }
  .search{
    margin: 0 0 5px 0;
    width: 100%
  }
  .search input{
    width: 100%;
  }
  .select, .sort{
    width: 98%;
  }
  .sort{
    margin: 0 0 0 15px;
  }
}
