<title>{{isLoading ? 'Načítava sa...' : 'Vitajte ' + user.userName + '!'}}</title>
<div class="content">
  <div class="dashboard">
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítavanie...
      </div>
    }@else{
      <div class="title">
        @if(authService.isAdminAuthenticated()){
          <img src="https://cdn-icons-png.flaticon.com/512/17003/17003310.png" alt="user-icon">
          <h2 style="color: red; font-weight: bold;">Vitajte {{user.userName}}!</h2>
        }@else{
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" alt="user-icon">
          <h2>Vitajte {{user.userName}}!</h2>
        }
      </div>
      <div class="icon-bar">
        <div class="icon" [ngClass]="{'active': activeTab === 'info'}" (click)="selectTab('info')">
          <span><img src="https://www.iconpacks.net/icons/1/free-information-icon-348-thumb.png"></span>
          <p>Informácie účtu</p>
        </div>
        <div class="icon" [ngClass]="{'active': activeTab === 'orders'}" (click)="selectTab('orders')">
          <span><img src="https://cdn-icons-png.freepik.com/512/1413/1413908.png"></span>
          @if(authService.isAdminAuthenticated()){
            <p>Všetky objednávky</p>
          }@else{
            <p>Vaše objednávky</p>
          }
        </div>
        <div class="icon" [ngClass]="{'active': activeTab === 'settings'}" (click)="selectTab('settings')">
          <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDgp53HKq4fyclYtZdD-0wHVV2YC2rZ0tmGg&s"></span>
          <p>Nastavenia účtu</p>
        </div>
      </div>
      <ng-container [ngSwitch]="activeTab">
        <div *ngSwitchCase="'info'" class="info-section">
          <div class="email-phone-number">
            <div class="info">
              <label>E-mailová adresa</label>
              <span>{{user.email}}</span>
            </div>
            <div class="info">
              <label>Telefónne číslo</label>
              <span>{{user.phoneNumber ? user.phoneNumber : 'Not entered'}}</span>
            </div>
          </div>
          <div class="email-phone-number-verification">
            <div class="info">
              <label>Overený e-mail</label>
              <span [ngClass]="{'true': user.emailConfirmed, 'false': !user.emailConfirmed}">{{user.emailConfirmed ? 'Overený' : 'Neoverený'}}</span>
            </div>
            <div class="info">
              <label>Overené telefónne číslo</label>
              <span [ngClass]="{'true': user.phoneNumberConfirmed, 'false': !user.phoneNumberConfirmed}">{{user.phoneNumberConfirmed ? 'Overený' : 'Neoverený'}}</span>
            </div>
          </div>
          <div class="buttons">
            <button class="btn btn-primary" (click)="logout()"><img src="../../assets/Images/logout_icon.png" class="logout-icon">Odhlásiť sa</button>
          </div>
        </div>
        <div *ngSwitchCase="'orders'" class="orders-section">
          @if(authService.isAdminAuthenticated()){
            <p>Vitajte administrátor kliknutím <a [routerLink]="['/user-orders']">sem</a> zobrazíte všetky objednávky.</p>
          }@else{
            <p>Nemáte zatiaľ žiadne objednávky!</p>
          }
        </div>
        <div *ngSwitchCase="'settings'" class="settings-section">
          <p>Táto sekcia zatiaľ nie je dostupná!</p>
        </div>
      </ng-container>
    }
  </div>
</div>