<mat-toolbar (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
  <span><a class="title" [routerLink]="['/home']"><img src="../../assets/favicon.ico" height="45" width="45" title="astroshop-icon" alt="astroshop-icon"/>Astroshop</a></span>
  <span class="spacer"></span>
  <button [routerLink]="['/home']">Home</button>
  <button [routerLink]="['/products']">Products</button>
  <button [routerLink]="['/contact']">Contact</button>
  <button [routerLink]="['/shopping-cart']"><mat-icon matBadge="{{countNum()}}" aria-hidden="false" matBadgeColor="warn"><img src="https://cdn-icons-png.freepik.com/512/1413/1413908.png" alt="shopping-cart" height="25" width="25" /></mat-icon></button>
  @if (authService.authenticated()) {
    <button mat-button (click)="logout()">Logout</button>
  } @else {
    <button [routerLink]="['/login']"><img src="https://toppng.com/uploads/preview/circled-user-icon-user-pro-icon-11553397069rpnu1bqqup.png" alt="user" height="40" width="40" /></button>
    <!--<button mat-button [routerLink]="['/register']">Registration</button>-->
  }
</mat-toolbar>
