<div class="content">
  <nav>
    <span><a class="title"><img src="../../assets/favicon.ico" height="45" width="45" title="astroshop-icon" alt="astroshop-icon"/>Astroshop</a></span>
    <div class="nav-content">
      <div class="nav-items">
        @if(roleName == 'admin'){
          <span><a [routerLink]="['/user-orders']" [ngClass]="{'active': isCurrentRoute('/user-orders')}">Orders</a></span>
        }
        @else{
      
        }
        <span><a [routerLink]="['/home']" [ngClass]="{'active': isCurrentRoute('/home')}">Home</a></span>
        <span><a [routerLink]="['/products']" [ngClass]="{'active': isCurrentRoute('/products')}">Products</a></span>
        <span><a [routerLink]="['/contact']" [ngClass]="{'active': isCurrentRoute('/contact')}">Contact</a></span>
      </div>
      <div class="nav-icons">
        <a (click)="toFavoriteProducts()" [routerLink]="[]"><mat-icon matBadge="0" aria-hidden="false" matBadgeColor="warn"><img src="https://cdn-icons-png.flaticon.com/512/2/2267.png" height="25" width="25" alt="favorite-products" title="favorite-products"></mat-icon></a>
        <a [routerLink]="['/shopping-cart']"><mat-icon matBadge="{{countNum()}}" aria-hidden="false" matBadgeColor="warn"><img src="https://cdn-icons-png.freepik.com/512/1413/1413908.png" height="25" width="25" alt="shopping-cart" title="shopping-cart"/></mat-icon></a>
      @if (authService.authenticated()) {
        <span><a mat-button (click)="logout()">Logout</a></span>
      } @else {
        <a [routerLink]="['/login']"><img src="https://toppng.com/uploads/preview/circled-user-icon-user-pro-icon-11553397069rpnu1bqqup.png" alt="user" height="40" width="40" /></a>
      <!--<button mat-button [routerLink]="['/register']">Registration</button>-->
      }
    </div>
    </div>
  </nav>
</div>