nav{
  z-index: 9999;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 .35rem .85rem rgba(0, 0, 0, .05);
  position: fixed;
  width: 100%;
  transition: 0.5s linear;
  top: 0;
}
.shopping-cart{
  position: relative;
}
.cart-dropdown-menu{
  visibility: hidden;
  display: none;
  z-index: 9999;
  position: absolute;
  background-color: white;
  width: 200px;
  height: auto;
  top: 100%;
  left: -210%;
  margin-top: 19px;
  box-shadow: 0 .35rem .85rem rgba(0, 0, 0, .05);
  color: black;
  font-size: 8px;
}
.nav-icons .shopping-cart:hover{
  .cart-dropdown-menu{
    display: block;
    visibility: visible;
  }
}
.products{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav-content span a{
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  transition: 0.05s ease-in-out;
  font-size: medium;
}
.nav-items span{
  padding: 0px 10px;
}
.active{
  border-bottom: 2px solid #dc3545;
}
.nav-items span:hover a{
  cursor: pointer;
  border-bottom: 2px solid #dc3545;
  border-width: 75%;
}
.nav-content{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-icons{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icons a{
  padding: 0px 10px;
  cursor: pointer;
}
.nav-items{
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
img{
  margin: 2px;
}
.empty-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 10px;
}
.empty-cart p{
  margin-top: 6px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}