<title>Home</title>
<div class="content">
  <div class="title">
    <div class="title_content">
      <h1 style="font-size: 60px;"><b><img src="../../assets/favicon-white.ico"  height="85" width="85" alt="astroshop-icon" title="astroshop-icon">Astroshop</b></h1><br />
      <h3>The best seller of telescopes</h3><br />
      <button [routerLink]="['/products']" class="btn btn-danger">Shop now</button>
    </div>
  </div>
  <div class="our_products">
    <div class="our_products_content">
      <div class="first-section">
      <div class="text">
        <h2>Current bestsellers</h2><br>
      </div>
      <div class="gallery">
        <ng-container *ngFor="let product of productData.slice(0, 5)">
          <a [routerLink]="['/products', product.productName]" style="color: black; text-decoration:none;">
            <div class="telescope_1">
              <div class="names">
                <img [src]="product.productImage0" alt="Telescope + {{product.productId}}" title="{{product.productName}}">
                <p>{{ product.productName }}</p>
              </div>
              <div class="star-rating">
                <app-star-rating [rating]="product.averageStarRating" [readOnly]="true"></app-star-rating>
                <p style="color: black;">({{product.reviewsCount}})</p>
              </div>
              <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="check">
                <p style="color: black; font-weight: bold;">{{ product.price }}€</p>
                <p>{{ product.quantity > 0 ? 'Na sklade' : 'Nie je na sklade' }}</p>
              </div>
            </div>
            </a>
        </ng-container>
      </div>
    </div>
    <div class="second-section">
      <div class="text">
        <h2>Great for advanced</h2><br>
      </div>
      <div class="gallery">
        <ng-container *ngFor="let product of productData.slice(5, 10)">
          <a [routerLink]="['/products', product.productName]" style="color: black; text-decoration:none;">
            <div class="telescope_1">
              <div class="names">
                <img [src]="product.productImage0" alt="Mount + {{product.productId}}" title="{{product.productName}}">
                <p>{{ product.productName }}</p>
              </div>
              <div class="star-rating">
                <app-star-rating [rating]="product.averageStarRating" [readOnly]="true"></app-star-rating>
                <p style="color: black;">({{product.reviewsCount}})</p>
              </div>
              <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="check">
                <p style="color: black; font-weight: bold;">{{ product.price }}€</p>
                <p>{{ product.quantity > 0 ? 'Na sklade' : 'Nie je na sklade' }}</p>
              </div>
            </div>
            </a>
        </ng-container>
      </div>
    </div>
    <div class="third-section">
      <div class="text">
      <h2>Best offers</h2>
    </div>
      <div class="ad-gallery">
        <img src="https://www.astroshop.eu/CMS/images/slider/Celestron-RASA800_all_en.jpg" alt="ad" height="500">
        <img src="https://www.astroshop.eu/CMS/images/slider/unistellar-odyssey_all_de.jpg" alt="ad3" height="500">
        <img src="https://www.astroshop.eu/CMS/images/slider/celestron-origin_all_en.jpg" alt="ad4" height="500">
      </div>
    </div>
    </div>
  </div>
  <div class="top-brands">
    <hr />
    <h2>TOP BRANDS TELESCOPES</h2>
    <div class="gallery1">
      <img src="https://www.astroshop.eu/Marken/normal/Celestron.jpg" alt="brand1" title="Celestron"/>
      <img src="https://www.astroshop.eu/Marken/normal/Omegon.jpg" alt="brand2" title="Omegon"/>
      <img src="https://www.astroshop.eu/Marken/normal/Skywatcher.jpg" alt="brand3"  title="Skywatcher"/>
      <img src="https://www.astroshop.eu/Marken/normal/Meade.jpg" alt="brand4" title="Meade"/>
    </div>
    <hr />
    <h2>TOP BRANDS ACCESSORIES</h2>
    <div class="gallery1">
      <img src="https://www.astroshop.eu/Marken/normal/Pegasus-Astro.jpg" alt="brand5" title="Pegasus-Astro"/>
      <img src="https://www.astroshop.eu/Marken/normal/iOptron.jpg" alt="brand6" title="iOptron"/>
      <img src="https://www.astroshop.eu/Marken/normal/ZWO.jpg" alt="brand7" title="ZWO"/>
      <img src="https://www.astroshop.eu/Marken/normal/Farpoint.jpg" alt="brand8" title="Farpoint"/>
    </div>
  </div><br />
</div>
