.content {
  width: 100%;
}
.title {
  background-image: url(https://t4.ftcdn.net/jpg/04/94/85/25/360_F_494852538_r8ylVApdAY0YuWYCkWIsg5pDZkboERYI.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  color: white;
  text-align: center;
  width: 100%;
}
.title_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.title_content h1 {
  font-size: 35px;
  text-align: left;
  font-weight: bold;
}
.title_content {
  text-shadow: 2px 2px 2px gray;
}
.image_content img {
  filter: brightness(95%);
  margin-bottom: 20px;
}
.text_content {
  width: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#shop_now_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#shop_now_button img {
  margin-left: 8px;
}
.our_products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.our_products {
  margin: 40px 0px 0px 0px;
  text-align: center;
}
.our_products_content h3 {
  text-align: center;
  box-sizing: border-box;
}
h2 {
  color: #0d6efd;
  font-weight: bold;
  font-size: 25px;
}
.our_products p {
  font-size: 17px;
}
.gallery {
  padding: 15px 0 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.product-card {
  width: 260px;
  height: 430px;
  flex-shrink: 0;
  border: 1px solid #ddd;
  padding: 15px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  text-align: left;
  display: inline-block;
  white-space: normal;
  box-sizing: border-box;
  position: relative;
}
.product-card h3 {
  font-size: 18px;
  font-weight: bold;
}
.product-card:hover {
  transform: translateY(-5px);
}
.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image {
  max-width: 100%;
  height: 210px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #ddd;
}
.price {
  color: black;
  font-weight: normal;
}
.star-rating,
.price-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-count {
  margin-top: 15px;
}
.available {
  color: green;
  font-weight: bolder;
}
.unavailable {
  color: red;
  font-weight: bolder;
}
.product-tag {
  border: none;
  border-radius: 10px;
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  width: auto;
  top: -10px;
  left: -10px;
}
.top-brands {
  width: 100%;
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}
.brand-gallery-item {
  width: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-gallery img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}
.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  padding: 8px 18px;
  box-shadow: 2px 2px 2px gray;
  transition: 0.4s scale;
}
button:hover {
  scale: 1.025;
}
p {
  font-size: 17px;
}
.text {
  max-width: 1300px;
  width: 100%;
  text-align: left;
  z-index: 1;
}
.star-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-section,
.second-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
}
.spinner {
  border: 8px solid white;
  border-top: 8px solid #0d6efd;
  border-right: 8px solid #0d6efd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /*spin je animacia a keyframes ju aplikuje na nu pri 0% ako bude a pri 100 a to sa opakuje do nekonecna*/
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1400px) {
  .gallery {
    overflow-x: auto;
    overflow-y: visible;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0 0 0;
  }
  .first-section,
  .second-section {
    margin: 0 0 0 45px;
  }
}
@media (min-width: 1245px) {
  /*1024px PRE TABLETY*/
  .brand-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (max-width: 768px) {
  .title {
    height: auto;
  }
  .title_content {
    flex-direction: column;
  }
  .image_content {
    order: -1; /*znamena ze bude prve*/
    margin: 30px 0 20px 0;
  }
  .text_content {
    width: 100%;
    text-align: left;
    line-height: 10px;
    order: 1; /*znamena ze bude druhe*/
    padding: 0px 25px 60px 25px;
  }
  .image_content img {
    height: 310px;
    width: 230px;
    margin: 0;
  }
  .our_products p {
    text-align: left;
  }
  h2 {
    font-size: 24px;
  }
  .gallery {
    margin: 5px 0 0 0;
  }
  .product-card {
    height: 420px;
    width: 250px;
  }
  .product-card p, .product-card h3 {
    font-size: 17px;
  }
  .product-card img {
    height: 200px;
  }
  .brand-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .text-content {
    width: 50%;
  }
}
