<title>Home</title>
<div class="content">
  <div class="title">
    <div class="title_content">
      <div class="text_content">
        <h1>Your Portal to the Stars</h1>
        <h3>Find everything you need for night sky imaging at <b>AstroShopPPPPPPPPPPPPPPP</b></h3><br>
        <button [routerLink]="['/products']" class="btn btn-primary" id="shop_now_button">Shop now <img src="../../assets/Images/shopping_cart_white.png" height="25" width="25"></button>
      </div>
      <div class="image_content">
        <img src="../../assets/Images/title_image_content.png" alt="image_content_title" height="350" width="255">
      </div>
    </div>
  </div>
  <div class="our_products">
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Loading
      </div>
    }
    @else{
      <div class="first-section">
        <div class="text">
          <h2>Current bestsellers</h2>
        </div>
        <div class="gallery">
          <ng-container *ngFor="let product of productData.slice(0, 5)">
            <a [routerLink]="['/products', product.productName]" style="color: black; text-decoration:none;">
              <div class="telescope_1">
                <div class="names">
                  <img [src]="product.productImage0" alt="Telescope + {{product.productId}}" title="{{product.productName}}">
                  <p>{{ product.productName }}</p>
                </div>
                <div class="star-rating">
                  <app-star-rating [rating]="product.averageStarRating" [readOnly]="true"></app-star-rating>
                  <p style="color: black;">({{product.reviewsCount}})</p>
                </div>
                <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="check">
                  <p style="color: black; font-weight: bold;">{{ product.price }}€</p>
                  <p>{{ product.quantity > 0 ? 'Na sklade' : 'Vypredané' }}</p>
                </div>
              </div>
              </a>
          </ng-container>
        </div>
      </div>
      <div class="second-section">
        <div class="text">
          <h2>Great for advanced</h2>
        </div>
        <div class="gallery">
          <ng-container *ngFor="let product of productData.slice(5, 10)">
            <a [routerLink]="['/products', product.productName]" style="color: black; text-decoration:none;">
              <div class="telescope_1">
                <div class="names">
                  <img [src]="product.productImage0" alt="Mount + {{product.productId}}" title="{{product.productName}}">
                  <p>{{ product.productName }}</p>
                </div>
                <div class="star-rating">
                  <app-star-rating [rating]="product.averageStarRating" [readOnly]="true"></app-star-rating>
                  <p style="color: black;">({{product.reviewsCount}})</p>
                </div>
                <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="check">
                  <p style="color: black; font-weight: bold;">{{ product.price }}€</p>
                  <p>{{ product.quantity > 0 ? 'Na sklade' : 'Vypredané' }}</p>
                </div>
              </div>
              </a>
          </ng-container>
        </div>
      </div>
    }
  </div>
  <div class="top-brands">
    <div class="brand-gallery">
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Celestron.jpg" alt="brand1" title="Celestron"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Omegon.jpg" alt="brand2" title="Omegon"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Skywatcher.jpg" alt="brand3"  title="Skywatcher"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Meade.jpg" alt="brand4" title="Meade"/>
      </div>
    </div>
    <div class="brand-gallery">
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Pegasus-Astro.jpg" alt="brand5" title="Pegasus-Astro"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/iOptron.jpg" alt="brand6" title="iOptron"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/ZWO.jpg" alt="brand7" title="ZWO"/>
      </div>
      <div class="brand-gallery-item">
         <img src="https://www.astroshop.eu/Marken/normal/Farpoint.jpg" alt="brand8" title="Farpoint"/>
      </div>
    </div>
  </div>
</div>
