<title>Domov</title>
<div class="content">
  <div class="title">
    <div class="title_content">
      <div class="text_content">
        <h1>Váš portál k hviezdam</h1>
        <h3>Nájdite všetko čo potrebujete na <b>Astrostore</b></h3><br>
        <button [routerLink]="['/products']" class="btn btn-primary" id="shop_now_button">Nakupovať <img src="../../assets/Images/shopping_cart_white.png" height="25" width="25"></button>
      </div>
      <div class="image_content">
        <img src="../../assets/Images/title_image_content.png" alt="image_content_title" height="350" width="255">
      </div>
    </div>
  </div>
  <div class="our_products">
    @if(isLoading){
      <div class="spinner-container">
        <div class="spinner">
        </div>
        Načítavanie...
      </div>
    }
    @else{
      <div class="first-section">
        <div class="text">
          <h2>Aktuálne bestsellery</h2>
        </div>
        <div class="gallery">
          <div *ngFor="let product of productData.slice(0, 5); let i = index" class="product-card">
            <a [routerLink]="['/products', product.productName]">
              @if(i < 5){
                <div class="product-tag">
                  zľava -{{product.productDiscount}}%
                </div>
              }
              <div class="image-container">
                <img [src]="product.productImage0" alt="{{ product.productName }}" class="product-image" />
              </div>
              <h3>{{ product.productName }}</h3>
              <div class="star-rating">
                <app-star-rating [rating]="product.averageStarRating" [readOnly]="true"></app-star-rating>
                <p class="reviews-count">({{product.reviewsCount}})</p>
              </div>
              <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="price-quantity">
                <div class="product-prices">
                  @if(product.productDiscount > 0){
                    <p class="price"><del>{{ product.price }}€</del></p>
                    <p class="new-price">{{ (product.price - ((product.price / 100)) * product.productDiscount).toFixed(0) }}€</p>
                  }@else{
                    <p class="no-discount-price">{{ product.price }}€</p>
                  }
                </div>
                <p>{{ product.quantity > 0 ? 'Na sklade' : 'Vypredané' }}</p>
              </div>
              </a>
            </div>
        </div>
      </div>
      <div class="second-section">
        <div class="text">
          <h2>Skvelé pre pokročilých</h2>
        </div>
        <div class="gallery">
          <div *ngFor="let product of productData.slice(28, 33)" class="product-card">
            <a [routerLink]="['/products', product.productName]">
              <div class="image-container">
                <img [src]="product.productImage0" alt="{{ product.productName }}" class="product-image" />
              </div>
              <h3>{{ product.productName }}</h3>
              <div class="star-rating">
                <app-star-rating [rating]="product.averageStarRating" [readOnly]="true"></app-star-rating>
                <p class="reviews-count">({{product.reviewsCount}})</p>
              </div>
              <div [ngClass]="{'available': product.quantity > 0, 'unavailable': product.quantity <= 0}" class="price-quantity">
                <div class="product-prices">
                  @if(product.productDiscount > 0){
                    <p class="price"><del>{{ product.price }}€</del></p>
                    <p class="new-price">{{ (product.price - ((product.price / 100)) * product.productDiscount).toFixed(2) }}€</p>
                  }@else{
                    <p class="no-discount-price">{{ product.price.toFixed(2) }}€</p>
                  }
                </div>
                <p>{{ product.quantity > 0 ? 'Na sklade' : 'Vypredané' }}</p>
              </div>
              </a>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="top-brands">
    <div class="brand-gallery">
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Celestron.jpg" alt="brand1" title="Celestron"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Omegon.jpg" alt="brand2" title="Omegon"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Skywatcher.jpg" alt="brand3"  title="Skywatcher"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Meade.jpg" alt="brand4" title="Meade"/>
      </div>
    </div>
    <div class="brand-gallery">
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/Pegasus-Astro.jpg" alt="brand5" title="Pegasus-Astro"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/iOptron.jpg" alt="brand6" title="iOptron"/>
      </div>
      <div class="brand-gallery-item">
        <img src="https://www.astroshop.eu/Marken/normal/ZWO.jpg" alt="brand7" title="ZWO"/>
      </div>
      <div class="brand-gallery-item">
         <img src="https://www.astroshop.eu/Marken/normal/Farpoint.jpg" alt="brand8" title="Farpoint"/>
      </div>
    </div>
  </div>
</div>
