<title>Orders</title>
<div class="content">
    <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
    <h1 style="font-weight: bold;">Orders</h1><br>
    <div class="orders">
        <table class="ordersTable">
            <tr>
              <th>Order ID</th>
              <th>Order Email</th>
              <th>Order Verification Key</th>
              <th>Order Date</th>
              <th>Order Price</th>
              <th>Complete</th>
            </tr>
            <tr *ngFor="let order of ordersData">
                <td class="link" [routerLink]="['/user-orders', order.orderId]">{{order.orderId}}</td>  
                <td>{{order.email}}</td>
                <td>{{order.orderVerificationKey}}€</td>
                <td>---</td>
                <td>{{order.totalPrice}}€</td>
                <td><button class="btn btn-coupon"><img src="https://www.iconpacks.net/icons/2/free-check-icon-3278-thumb.png" height="25" width="25" alt="check"></button></td>
            </tr>
          </table>
    </div>
</div>
