.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 300px;
    padding-top: 120px;
}
.ordersTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.ordersTable th{
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
}
.ordersTable td{
    padding: 8px;
    text-align: left;
}
.ordersTable img{
    max-width: 100%;
    height: auto;
}
.link{
    text-decoration: underline;
    color: black;
}
.link:hover{
    cursor: pointer;
}
.red-text{
    color: red;
    font-weight: bold;
}
.yellow-text{
    color: gold;
    font-weight: bold;
}
.green-text{
    color: green;
    font-weight: bold;
}