<title>Objednávky</title>
<div class="content" [ngClass]="{'is-loading': isLoading}">
  @if(!isLoading){
    <div class="title">
      <h1>Objednávky používateľov</h1>
      <img src="https://static.thenounproject.com/png/101952-200.png" alt="order-icon">
    </div>
    <div class="filters">
      <div class="checkbox-dropdown-container">
        <div class="checkbox-dropdown">
          <button type="button" class="btn btn-light dropdown-button" (click)="toggleDropdown('status')">Zvoľte stavy objednávok pre filtráciu</button>
        </div>
        <div class="dropdown-content" [ngClass]="isVisibleCheckbox ? 'is-visible': 'is-not-visible'">
          <div class="checkbox-item" *ngFor="let status of orderStatuses">
            <label class="checkbox-label">
              <input type="checkbox" class="form-check-input" id="checkbox" [value]="status" (change)="onCheckboxChange($event)" [checked]="selectedStatuses.includes(status)">
              {{status}}
            </label>
          </div>
        </div>
      </div>
      <div class="filter-date-container">
        <div class="filter-date-dropdown">
          <button type="button" class="btn btn-light filter-date-dropdown-btn" (click)="toggleDropdown('date')">Zvoľte spôsob filtrácie podľa dátumu</button>
        </div>
        <div class="dropdown-content" id="second-dropdown-content" [ngClass]="isVisibleDateFilter ? 'is-visible': 'is-not-visible'">
          <div class="filter-date-field">
            <div class="filter-date-item" (click)="sortByDate('newest')">
              <span>Najnovšie</span>
            </div>
            <div class="filter-date-item" (click)="sortByDate('oldest')">
              <span>Najstaršie</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search-bar">
      <input class="search-bar form-control" [(ngModel)]="searchText" type="search" placeholder="Kliknite sem pre vyhľadávanie objednávok v systéme" (ngModelChange)="searchOrders()">
    </div>
    @if(ordersData.length > 0){
      <div class="orders">
        <table class="ordersTable">
            <tr>
              <th>Číslo objednávky</th>
              <th>E-mailová adresa</th>
              <th>Dátum objednávky</th>
              <th>Cena objednávky</th>
              <th>Stav objednávky</th>
            </tr>
            <tr *ngFor="let order of filteredOrdersData" [routerLink]="['/user-orders', order.orderId]">
                <td class="link" [routerLink]="['/user-orders', order.orderId]">{{order.orderId}}</td>  
                <td>{{order.email}}</td>
                <td>{{order.orderDate}}</td>
                <td>{{order.totalPrice.toFixed(2)}}€</td>
                <td [ngClass]="{
                  'red-text': order.orderStatus === 'Čakajúce',
                  'yellow-text': order.orderStatus === 'Pripravuje sa',
                  'green-text': order.orderStatus === 'Doručené'
                }">{{order.orderStatus}}</td>
            </tr>
          </table>
      </div>
    <div class="paginator">
      <app-pagination [currentPage]="currentPage" [limit]="limit" [total]="totalItems" (changePage)="onPageChange($event, 'orders')"></app-pagination>
    </div>
    }
    @else{
      <div class="no-orders">
        @if(allOrdersData.length > 0) {
          <p>Neboli nájdené žiadne objednávky podľa príslušného filtra alebo vyhľadávania!</p>
        }@else{
          <p>Žiadne objednávky!</p>
        }
      </div>
    }
    <div class="title">
      <h1>Správy od používateľov</h1>
      <img src="../../assets/Images/user_message_icon.png" alt="user-message-icon">
    </div>
    @if(filteredProblemsData.length > 0){
      <div class="problems">
        <table class="problemsTable">
            <tr>
              <th>Číslo správy</th>
              <th>Meno a priezvisko</th>
              <th>E-mailová adresa</th>
              <th>Dátum vytvorenia</th>
              <th>Popis problému</th>
              <th style="text-align: center;">Stav správy</th>
              <th>Akcia</th>
            </tr>
            <tr *ngFor="let problem of filteredProblemsData">
                <td class="link">{{problem.problemId}}</td>  
                <td>{{problem.nameSurname}}</td>
                <td>{{problem.email}}</td>
                <td>{{problem.problemDate}}</td>
                <td style="overflow-y: scroll; text-wrap: nowrap; max-width: 200px; display: block;">{{problem.problem}}</td>
                <td [ngClass]="{
                  'red-text': problem.problemStatus === 'Nevyriešené',
                  'green-text': problem.problemStatus === 'Vyriešené'
                }">{{problem.problemStatus}}</td>
                <td>
                  <a class="change-status-link" (click)="changeProblemStatus(problem)" [title]="problem.problemStatus === 'Nevyriešené' ? 'Označiť ako vyriešené' : 'Označiť ako nevyriešené'" [ngClass]="{ 'disabled-link': isLoadingStatus(problem.problemId) }">
                    @if(!isLoadingStatus(problem.problemId)){
                      <img src="https://images.icon-icons.com/3402/PNG/512/change_status_icon_215496.png" class="change-status-icon">
                    }@else{
                      <div class="spinner-container">
                        <div class="spinner">
                        </div>
                      </div>
                    }
                  </a>
                </td>
            </tr>
          </table>
      </div>
      <div class="paginator">
        <app-pagination [currentPage]="problemsCurrentPage" [limit]="problemsLimit" [total]="problemsTotalItems" (changePage)="onPageChange($event, 'messages')"></app-pagination>
      </div>
    }@else{
      <div class="no-problems">
         <p>Žiadne správy od používateľov!</p>
      </div>
    }
    <div class="title-chart">
      <h1>Sekcia grafov</h1>
      <img src="https://www.iconpacks.net/icons/1/free-chart-icon-646-thumb.png" alt="chart-icon">
    </div>
    <div class="charts-revenue-section">
      <div class="canvas-chart" style="width: 350px;">
        <canvas #ordersStatusChart></canvas>
      </div>
      <div class="canvas-chart">
        <canvas #ordersDate></canvas>
      </div>
    </div>
    <div class="total-revenue-chart">
      <div class="total-revenue">
        <h1>Celkový príjem:</h1><p style="font-weight: normal;"> {{totalRevenue}}€</p>
      </div>
      <div class="canvas-chart">
        <canvas #revenueChart></canvas>
      </div>
    </div>
  }
  @else{
    <div class="spinner-container">
      <div class="spinner">
      </div>
      Načítavanie...
    </div>
  }
</div>