.content {
    padding: 25px 20px 200px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title h1{
    font-weight: bold;
    margin: 0;
}
.title img{
    height: 45px;
    width: 45px;
    margin-bottom: 2.5px;
}
.orders {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}
.no-orders{
    width: 100%;
    margin-top: 50px;
}
.ordersTable{
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    min-width: 1000px;
}
.ordersTable td {
    padding: 10px;
    text-align: left;
    font-size: 17px;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    width: auto;
}
.ordersTable th {
    background-color: #0d6efd;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 17px;
    letter-spacing: 0.5px;
}
.ordersTable tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
.link{
    text-decoration: underline;
}
.link:hover{
    cursor: pointer;
}
.paginator{
    margin: 20px 0 0 0;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.red-text {
  color: rgb(255, 45, 45) !important;
  font-weight: bold;
}
.yellow-text {
  color: rgb(255, 217, 0) !important;
  font-weight: bold;
}
.green-text {
  color: rgb(0, 162, 0) !important;
  font-weight: bold;
}
@media (max-width: 768px) {
  .content {
    padding: 25px 20px 60px 20px;
  }
  h1 {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 25px 15px 50px 15px;
  }
}