<div class="content">
  <title>Kontakt</title>
    <div class="contact-form">
      <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
      <h1>Kontakt</h1>
      <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="form-label">Meno a priezvisko*</label><br>
          <input type="text" class="form-control" placeholder="Vaše meno a priezvisko" id="name-surname" formControlName="nameSurname" [ngClass]="{'is-invalid': contactForm.get('nameSurname').invalid && contactForm.get('nameSurname').touched}">
        </div>
    
        <div class="field">
          <label class="form-label">E-mailová adresa*</label><br>
          <input type="email" class="form-control" placeholder="Vaša e-mailová adresa" id="e-mail" formControlName="email" type="email" [ngClass]="{'is-invalid': contactForm.get('email').invalid && contactForm.get('email').touched}">
        </div>
    
        <div class="field">
          <label class="form-label">Váš komentár*</label><br>
          <textarea class="form-control" placeholder="Sem napíšete váš komentár" id="problem" formControlName="problem" maxlength="250" [(ngModel)]="userMessage" (input)="update()" [ngClass]="{'is-invalid': contactForm.get('problem').invalid && contactForm.get('problem').touched}"></textarea><!--(input) robi ze vzdy ked sa nieco napise tak spravi update-->
          @if(userMessage.length > 0){
            <div class="char-count">{{ charactersCount }} / 250 znakov</div>
          }
          @else{
            
          }
        </div>
    
        <button type="button" (click)="onSubmit()" class="btn btn-primary">Potvrdiť</button>
      </form>
    </div>
</div>

