.content{
  padding-top: 120px;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  .field {
    width: 100%;
    text-align: left;
  }
  .contact-form{
      padding-bottom: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
  }
  .problems{
    padding-bottom: 300px;
  }
  button {
    padding: 8px 18px;
    margin: 10px;
  }
  input, textarea{
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 5px 0;
  }
  p, label{
    font-size: 17px;
  }
  p{
    text-align: justify;
    max-width: 50%;
  }
  .problemsTable{
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}
.problemsTable th{
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
}
.problemsTable td{
    padding: 8px;
    text-align: left;
}
.problemsTable img{
    max-width: 100%;
    height: auto;
}
.problems{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p{
  width: 500px;
}
.problemText{
  text-align: left;
  width: 400px;
  overflow-y: scroll;
}
.solvedButton{
  background-color: transparent;
  border: none;
}
.char-count {
  text-align: right;
  font-size: 0.9em;
  color: #666;
}