<div class="content">
  @if(roleName == 'admin' && authService.authenticated()){
    <title>Problems</title>
    <div class="problems">
      <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
      <h1 style="font-weight: bold;">Problems</h1><br>
      <table class="problemsTable">
        <tr>
          <th>Problem Date</th>
          <th>Problem Credentials</th>
          <th>Problem Email</th>
          <th>Problem Text</th>
          <th>Solved</th>
        </tr>
        <tr *ngFor="let problem of problemsData">
          <td>{{problem.problemDate}}</td>
          <td>{{problem.nameSurname}}</td>
          <td>{{problem.email}}</td>
          <td class="problemText"><p>{{problem.problem}}</p></td>
          @if(problem.problemStatus == "Solved"){
            <td><button class="solvedButton" disabled><img src="https://www.iconpacks.net/icons/2/free-check-icon-3278-thumb.png" height="25" width="25" alt="check"></button></td>
          }
          @else{
            <td><button class="btn btn-coupon" (click)="changeStatus(problem.problemId)"><img [src]="imageUrls[problem.currentImageUrlIndex]" height="25" width="25" alt="check"></button></td>
          }
        </tr>
      </table>
    </div>
  }
  @else{
    <title>Contact</title>
    <div class="contact-form">
      <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
      <h1 style="font-weight: bold;">Contact</h1>
      <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label>Name & Surname</label><br>
          <input placeholder="Peter Parker" id="name-surname" formControlName="nameSurname">
        </div>
    
        <div class="field">
          <label>E-mail</label><br>
          <input placeholder="peter@astroshop.com" id="e-mail" formControlName="email" type="email">
        </div>
    
        <div class="field">
          <label>Your problem</label><br>
          <textarea placeholder="My product is not working..." id="problem" formControlName="problem" maxlength="250" [(ngModel)]="userMessage" (input)="update()"></textarea><!--(input) robi ze vzdy ked sa nieco napise tak spravi update-->
          @if(userMessage.length > 0){
            <div class="char-count">{{ charactersCount }} / 250 characters</div>
          }
          @else{
            
          }
        </div>
    
        <button type="button" (click)="onSubmit()" [disabled]="!contactForm.valid" class="btn btn-secondary" [routerLink]="['/home']">Confirm</button>
      </form>
    </div>
  }
</div>

