<title>Contact</title>
<div class="content">
  <div class="contact-form">
  <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
  <h1 style="font-weight: bold;">Contact</h1>
  <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label>Name & Surname</label><br>
      <input placeholder="Peter Parker" id="name-surname" formControlName="nameSurname">
    </div>

    <div class="field">
      <label>E-mail</label><br>
      <input placeholder="peter@astroshop.com" id="e-mail" formControlName="email" type="email">
    </div>

    <div class="field">
      <label>Your problem</label><br>
      <textarea placeholder="My product is not working..." id="problem" formControlName="problem"></textarea>
    </div>

    <button type="button" (click)="onSubmit()" [disabled]="!contactForm.valid" class="btn btn-danger" [routerLink]="['/home']">Confirm</button>
  </form>
</div>
</div>

