.content{
  padding: 140px 20px 200px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(https://t4.ftcdn.net/jpg/04/94/85/25/360_F_494852538_r8ylVApdAY0YuWYCkWIsg5pDZkboERYI.jpg);
  background-position: center;
  background-size: cover;
}
.register-form{
  padding: 20px 30px 0 30px;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
form {
  width: 100%;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}
.field {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.recaptcha-field{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}
button {
  padding: 8px 18px;
  margin: 3px 10px 10px 10px;
}
input{
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #f9f9f9;
  min-width: 0;
  box-sizing: border-box;
}
label,
input,
input::placeholder {
  font-size: 17px;
}
h1 {
  font-weight: bold;
  margin: 0;
}
a {
  color: black;
}
.acc-label{
  font-weight: normal !important;
}
.spinner-container{
  height: 300px;
}
.is-invalid .form-control.ng-invalid.ng-touched{
  border-color: red !important;
}
@media (max-width: 768px) {
  .content {
    padding: 120px 10px 160px 10px;
  }
  .register-form{
    padding: 25px 25px 0 25px;
  }
  h1 {
    font-size: 1.5em;
  }
  .field {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 50px 15px 60px 15px;
  }
  label,
  button,
  input,
  input::placeholder {
    font-size: 16px;
  }
  h1 {
    font-size: 1.2em;
  }
}
