<title>Register</title>
<div class="content">
@if (authService.authenticated()) {
  <h1>You're currently logged in.</h1>
} @else {
  <div class="register-form">
  <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
  <h1 style="font-weight: bold;">Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="field">
      <label>Enter your e-mail:</label>
      <input formControlName="email" required placeholder="peter@astroshop.com">
    </div>

    <div class="field">
      <label>Enter your password:</label>
      <input [type]="'password'" formControlName="password" placeholder="Peter123">
    </div>

    <div class="field">
      <label>Enter your password again:</label>
      <input [type]="'password'" formControlName="confirmPassword" placeholder="Peter123">
    </div>

    <div class="field" style="text-align: center;">
      <label>Already have an account? Click <a [routerLink]="['/login']">here</a></label>
    </div><br>

    <button class="btn btn-secondary" type="submit">Register</button>
  </form>
</div>
}
</div>
