<title>{{isLoading ? 'Načítava sa...' : 'Detaily objednávky číslo ' + orderInfo.orderId }}</title>
    <div class="content">
      <div class="container">
        @if(isLoading){
          <div class="spinner-container">
            <div class="spinner">
            </div>
            Načítavanie...
          </div>
        }@else{
          <div class="part1">
            <div class="selected-products">
              <div class="sub-title">
                <h2>Objednané produkty</h2>
              </div>
              <table class="selectedProducts">
                <tr *ngFor="let product of selectedProducts" class="product">
                  @if(product.productDiscount > 0){
                    <div class="product-tag">
                      zľava -{{product.productDiscount}}%
                    </div>
                  }
                  @else{
                    <div class="product-tag-hidden"></div>
                  }
                  <td class="product-image-cell"><img [src]="product.productImage0" [alt]="product.productName" [title]="product.productName" width="50" class="product-image"></td>
                  <td class="product-name">{{product.productName}}<br>
                    @if(product.quantity > 0){
                      <span class="available">Na sklade</span>
                    }
                  </td>
                  <td>{{product.quantity}}x</td>
                  <td>
                    <div class="price-container">
                      <div class="product-prices">
                        @if(product.productDiscount > 0){
                          <p class="price"><del>{{ product.price }}€</del></p>
                          <p class="new-price">{{ (product.price - ((product.price / 100)) * product.productDiscount).toFixed(2) }}€</p>
                        }@else{
                          <p class="no-discount-price">{{ product.price }}€</p>
                        }
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="order-info">
              <div class="delivery-data">
                <div class="table-container">
                  <table class="order-table">
                    <tr>
                      <th colspan="2">Informácie objednávky</th>
                    </tr>
                    <tr>
                      <td><b>Meno a priezvisko:</b></td>
                      <td>{{orderInfo.name}} {{orderInfo.surname}}</td>
                    </tr>
                    <tr>
                      <td><b>E-mailová adresa:</b></td>
                      <td>{{orderInfo.email}}</td>
                    </tr>
                    <tr>
                      <td><b>Telefónne číslo:</b></td>
                      <td>{{orderInfo.phoneNumber}}</td>
                    </tr>
                    <tr>
                      <td><b>Adresa:</b></td>
                      <td>{{orderInfo.address}}, {{orderInfo.psc}}</td>
                    </tr>
                    <tr>
                      <td><b>Dátum objednávky:</b></td>
                      <td>{{orderInfo.orderDate}}</td>
                    </tr>
                    <tr>
                      <td><b>Mesto:</b></td>
                      <td>{{orderInfo.city}}</td>
                    </tr>
                    <tr>
                      <td><b>Štát:</b></td>
                      <td>{{orderInfo.country}}</td>
                    </tr>
                    <tr>
                      <td><b>Spôsob dopravy:</b></td>
                      <td>{{orderInfo.deliveryOption}}</td>
                    </tr>
                    <tr>
                      <td><b>Spôsob platby:</b></td>
                      <td>{{orderInfo.payment}}</td>
                    </tr>
                    <tr>
                      <td><b>Poznámka k objednávke:</b></td>
                      <td>{{orderInfo.orderNote ? orderInfo.orderNote : 'Nezadané'}}</td>
                    </tr>
                  </table>
                </div>
                <div class="change-status-container">
                  <div class="change-status">
                    <h2>Zmeniť stav objednávky</h2>
                    <select (change)="changeStatus($event)">
                      <option disabled selected value>Kliknite sem pre zvolenie stavu objednávky</option>
                      <option>Čakajúce</option>
                      <option>Pripravuje sa</option>
                      <option>Doručené</option>
                    </select>
                  </div>
                  <div class="order-status">
                    <b>Stav objednávky: </b><span [ngClass]="{
                      'red-text': orderStatus() === 'Čakajúce',
                      'yellow-text': orderStatus() === 'Pripravuje sa',
                      'green-text': orderStatus() === 'Doručené'
                    }">{{orderStatus()}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-summary">
              <div class="total-price">
                <p>Celková cena</p>
                <p>{{orderInfo.totalPrice}}€</p>
              </div>
            </div>
          </div>
        }
      </div>
  </div>
