.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 180px 0;
  background-image: url(https://t4.ftcdn.net/jpg/04/94/85/25/360_F_494852538_r8ylVApdAY0YuWYCkWIsg5pDZkboERYI.jpg);
  background-position: center;
  background-size: cover;
}
.container {
  width: 75%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.title h1 {
  font-weight: bold;
  margin: 0;
}
.title img {
  height: 50px;
  width: 50px;
}
.sub-title h2 {
  text-align: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0d6efd;
}
.delivery-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.table-container {
  width: 100%;
  overflow-x: scroll;
  text-wrap: nowrap;
}
.order-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
}
.order-table th {
  color: #0d6efd;
  padding: 7px 0;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
}
.order-table td {
  padding: 7px 0;
  border-bottom: 1px solid #ddd;
  width: 30%;
}
.change-status-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.order-status{
  margin-top: 45px;
}
.order-status span{
  margin-left: 10px;
}
.delivery-data h2 {
  text-align: left;
}
.change-status {
  flex: 0.6;
  min-width: 325px;
  margin: 9px 0 10px 0;
}
.change-status h2 {
  text-align: left;
}
.product-name {
  font-weight: bold;
  padding: 0;
}
.available {
  color: green;
  font-weight: bold !important;
}
.price,
.new-price,
.no-discount-price {
  color: black;
  font-weight: normal;
}
.new-price {
  font-weight: bold;
}
.no-discount-price {
  margin: auto 0;
}
.product-prices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.order-summary {
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
}
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.total-price p:first-child {
  font-weight: bold;
}
.total-price p {
  margin: 0;
}
.selectedProducts {
  width: 100%;
  border-collapse: collapse;
}
.selectedProducts td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
.selectedProducts .product-image-cell {
  width: 20%;
}
.selectedProducts .product-image {
  width: 175px;
  height: 175px;
}
.product {
  position: relative;
}
.product-tag {
  border: none;
  border-radius: 10px;
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 5px;
  width: auto;
  top: -10px;
  left: -10px;
}
.part1 {
  width: 100%;
}
h2 {
  font-weight: bold;
  text-align: center;
  color: #0d6efd;
}
select {
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 75%;
}
.order-summary {
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.total-price {
  margin: 10px 0px 10px 10px;
}
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.order-status {
  margin-right: 10px;
}
.total-price p {
  margin: 0;
  width: 100%;
}
.total-price p:nth-child(even) {
  text-align: right;
}
.spinner-container{
  height: 350px;
}
.red-text {
  color: rgb(255, 45, 45);
  font-weight: bold;
}
.yellow-text {
  color: rgb(255, 217, 0);
  font-weight: bold;
}
.green-text {
  color: rgb(0, 162, 0);
  font-weight: bold;
}
@media (max-width: 1250px) {
  .container {
    width: 90%;
  }
  .content {
    padding: 80px 0 170px 0;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 80px 0 160px 0;
  }
}
@media (max-width: 750px) {
  .product {
    width: 100%;
  }
  .content {
    padding: 60px 0 130px 0;
  }
  .container {
    width: 95%;
    padding: 20px 30px 20px 30px;
  }
}
@media (max-width: 670px) {
  .selectedProducts .product-image-cell {
    display: none;
  }
  .product-tag,
  .product-tag-hidden {
    display: none;
  }
  .total-price,
  .order-status {
    gap: 15px;
  }
  .content {
    padding: 60px 0 115px 0;
  }
}
@media (max-width: 600px) {
  .change-status-container{
    flex-direction: column;
    align-items: flex-start;
  }
  .order-status{
    width: 100%;
  }
  .change-status{
    width: 100%;
  }
  .total-price,
  .order-status {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
  .order-status{
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .content {
    padding: 60px 0 130px 0;
  }
  .order-summary {
    flex-direction: column;
    align-items: flex-start;
  }
  .total-price p:nth-child(even) {
    text-align: right;
  }
}
