<title>{{isLoading ? 'Načítava sa...' : 'Detaily objednávky číslo ' + orderInfo.orderId }}</title>
    <div class="content">
      <div class="container">
        @if(isLoading){
          <div class="spinner-container">
            <div class="spinner">
            </div>
            Načítavanie...
          </div>
        }@else{
          <div class="part1">
            <div class="selected-products">
              <div class="sub-title">
                <h2>Objednané produkty</h2>
              </div>
              <table class="selectedProducts">
                <tr *ngFor="let product of selectedProducts" class="product">
                  @if(product.productDiscount > 0){
                    <div class="product-tag">
                      zľava -{{product.productDiscount}}%
                    </div>
                  }
                  @else{
                    <div class="product-tag-hidden"></div>
                  }
                  <td class="product-image-cell"><img [src]="product.productImage0" [alt]="product.productName" [title]="product.productName" width="50" class="product-image"></td>
                  <td class="product-name">{{product.productName}}<br>
                    @if(product.quantity > 0){
                      <span class="available">Na sklade</span>
                    }
                  </td>
                  <td>{{product.quantity}}x</td>
                  <td>
                    <div class="price-container">
                      <div class="product-prices">
                        @if(product.productDiscount > 0){
                          <p class="price"><del>{{ product.price }}€</del></p>
                          <p class="new-price">{{ (product.price - ((product.price / 100)) * product.productDiscount).toFixed(2) }}€</p>
                        }@else{
                          <p class="no-discount-price">{{ product.price }}€</p>
                        }
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="order-info">
              <div class="delivery-payment-data-container">
                <div class="delivery-data">
                  <div class="sub-title">
                    <h2>Informácie objednávky</h2>
                  </div>
                  <div class="table">
                    <div class="co-1">
                      <b>Meno a priezvisko: </b>{{orderInfo.name}} {{orderInfo.surname}}<br>
                      <b>E-mailová adresa: </b>{{orderInfo.email}}<br>
                      <b>Telefónne číslo: </b>{{orderInfo.phoneNumber}}<br>
                      <b>Addresa: </b>{{orderInfo.address}}, {{orderInfo.psc}}<br>
                      <b>Dátum objednávky: </b>{{orderInfo.orderDate}}
                    </div>
                    <div class="co-2">
                      <b>Mesto: </b>{{orderInfo.city}}<br>
                      <b>Štát: </b>{{orderInfo.country}}<br>
                      <b>Spôsob dopravy: </b>{{orderInfo.deliveryOption}}<br>
                      <b>Spôsob platby: </b>{{orderInfo.payment}}<br>
                      <b>Poznámka k objednávke: </b>{{orderInfo.orderNote ? orderInfo.orderNote : 'Nezadané'}}
                    </div>
                  </div>
                </div>
                <div class="change-status">
                  <h2>Zmeniť stav objednávky</h2>
                  <select (change)="changeStatus($event)">
                    <option disabled selected value>Not selected</option>
                    <option>Čakajúce</option>
                    <option>Pripravuje sa</option>
                    <option>Doručené</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="order-summary">
              <div class="order-status">
                <b>Stav objednávky: </b><span [ngClass]="{
                  'red-text': orderStatus() === 'Čakajúce',
                  'yellow-text': orderStatus() === 'Pripravuje sa',
                  'green-text': orderStatus() === 'Doručené'
                }">{{orderStatus()}}</span>
              </div>
              <div class="total-price">
                <p>Celková cena</p>
                <p>{{orderInfo.totalPrice}}€</p>
              </div>
            </div>
          </div>
        }
      </div>
  </div>
