<title>Shopping cart</title>
<div class="content">
    <div class="heading">
        <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
        <h1 style="font-weight: bold;">Your cart</h1><br>
    </div>
    <div class="order">
        @if(products.length > 0){
          <table class="selectedProducts">
            <tr>
              <th>Item</th>
              <th>Product name</th>
              <th>Price</th>
              <th>Amount</th>
              <th>Remove</th>
            </tr>
            <tr *ngFor="let product of products">
              <td><img [src]="product.productImage0" [alt]="product.productName" [title]="product.productName" width="225"></td>
              <td>{{product.productName}}</td>
              <td>{{product.price}}€</td>
              <td>{{product.amount}}x</td>
              <td><button class="btn btn-coupon" style="display: flex; align-items: center; justify-content: center; padding-bottom: 10px;" (click)="CartService.removeProduct(product)"><img src="https://cdn-icons-png.flaticon.com/512/484/484662.png" height="24px" width="20px" alt="bin"></button></td>
            </tr>   
          </table>
          <div class="order-summary">
            <div class="total-price">
              <p style="font-weight: bold;">Total price</p>
              <p>{{CartService.totalPrice()}}€</p>
              <button class="btn btn-danger" (click)="clearCart()">Clear cart</button>
            </div>
          </div>
          <div class="submit">
            <button class="btn btn-secondary" [routerLink]="['/order']">Proceed to checkout</button>
          </div>
        }
        @else{
            <h2 style="text-align: center;">Your cart is empty</h2>
        }
    </div>
</div>