<title>Shopping cart</title>
<div class="content">
    <div class="heading">
        <img src="../../assets/favicon.ico" height="50" width="50" alt="astroshop-icon" title="astroshop-icon">
        <h1 style="font-weight: bold;">Your cart</h1><br>
        <div class="clear-total-price">
            <div class="total-price">
                <p>Total: {{CartService.totalPrice()}}€</p>
            </div>
            <div class="clear-cart">
                <button class="btn btn-danger" (click)="clearCart()">Clear cart</button>
            </div>
        </div>
    </div>
    <div class="product" *ngFor="let product of products">
      <div class="part1">
        <img [src]="product.productImage0" [alt]="product.productName" [title]="product.productName" width="225">
      </div>
      <div class="part2">
        <h2>{{product.productName}}</h2>
        <p>{{product.price}}€</p>
      </div>
      <div class="part3">
        <button class="btn btn-danger" style="display: flex; align-items: center; justify-content: center;" (click)="CartService.removeProduct(product)"><img src="https://cdn-icons-png.flaticon.com/512/484/484662.png" height="24px" width="20px" alt="bin"></button>
      </div>
    </div>
    <div class="order">
        @if(products.length > 0){
            <button class="btn btn-success" style="margin-top: 10px;" [routerLink]="['/order']">Proceed to checkout</button>
        }
        @else{
            <h2>Your cart is empty</h2>
        }
    </div>
</div>