* {
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0 200px 0;
  background-image: url(https://t4.ftcdn.net/jpg/04/94/85/25/360_F_494852538_r8ylVApdAY0YuWYCkWIsg5pDZkboERYI.jpg);
  background-position: center;
  background-size: cover;
}
.shopping-cart {
  width: 80%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px 40px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.empty-cart{
  width: 45%;
}
.heading {
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
.heading a, .remove-product{
  color: red;
  text-decoration: none;
}
.heading a:hover, .remove-product:hover{
  text-decoration: underline;
  cursor: pointer;
}
.heading h1 {
  font-weight: bold;
  margin: 0;
}
.product-name{
  font-weight: bold;
}
.available{
  color: green;
  font-weight: bold !important;
}
.amount-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.amount-control button{
  border: none;
  margin: 0 15px 0 15px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
}
.amount-control img{
  margin: 10px;
  height: 20px;
  width: 20px;
}
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.total-price p:first-child{
  font-weight: bold;
}
.total-price p {
  margin: 0;
}
.remove-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.selectedProducts {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.selectedProducts td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
.selectedProducts .product-image-cell {
  width: 20%;
}
.selectedProducts .product-image {
  width: 225px;
  height: 225px;
}
.order-summary {
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
}
.order-summary p {
  padding: 2px;
}
.submit {
  margin-top: 20px;
}
.empty-cart-text{
  width: 100%;
  margin: 50px 0 0 0;
  text-align: left;
}
@media (max-width: 1250px) { 
  .selectedProducts .product-image {
    width: 200px;
    height: 200px;
  }
  .shopping-cart {
    width: 80%;
  }
}
@media (max-width: 900px){
  .selectedProducts .product-image{
    width: 175px;
    height: 175px;
  }
  .amount-control {
    flex-direction: column-reverse;
  }
  .shopping-cart{
    width: 90%;
  }
}
@media (max-width: 750px) {
  .product {
    width: 100%;
  }
  .content {
    padding: 40px 0 100px;
  }
  .amount-control button {
    margin: 0 5px;
  }
  .submit button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
  }
  .empty-cart-text {
    font-size: 1em;
  }
  td, .empty-cart-text, .heading a{
    font-size: 17px;
  }
}
@media (max-width: 670px) {
  .selectedProducts .product-image-cell{
    display: none;
  }
}
