html,
body {
  height: 100%;
  font-size: 18px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
  width: 100vw;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
}
.spinner {
  border: 8px solid white;
  border-top: 8px solid #0d6efd;
  border-right: 8px solid #0d6efd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /*spin je animacia a keyframes ju aplikuje na nu pri 0% ako bude a pri 100 a to sa opakuje do nekonecna*/
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
